<ion-view hide-tabs="true" view-title="公司设置"  >




        <ion-nav-buttons    side="left"         class="button back-button buttons button-clear header-item">
    <div    ng-if='showtitle'  class="button back-button buttons button-clear header-item"   ng-click="backtoprevView('r.SettingWe')">
      <i class="icon ion-ios-arrow-left" style="float:left;margin-right:5px;"></i>
      <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"><span class="default-title hide" style='display:none' >Back</span><span class="previous-title">{{parenttitle}}</span></span>
    </div>
  </ion-nav-buttons>
  



  <ion-content  scrollbar-y="false"  overflow-scroll="false"   style="background: whitesmoke"  >
    <div>
      <img  src="./img/classif/guanyubj_@3x.png" alt="">

      </div>

      <div style="font-size: 15px;padding-left: 15px;padding-right: 15px;line-height: 28px;">
        2016年3月，三和教育集团顺势与2家上海股权交易中心挂牌企业，10年营销型平台／腾讯财付通华中区核心运营商湖南千家万福集团，19年互联网软件开发平台新概念科技有限公司德德联合！志在帮助中国4000万中小民营企业成功升级转型。 2016年5月三家公司联合推出全国性以物换物B2B2C项目——易物宜得中小企业生态圈，帮助中小企业低成本采购，轻松去库存，拓展营销渠道，实现全国优质资源共享。项目启动以来，已成功吸引全国30位优秀企业家成为天使股东！ 目前，平台拥有20位优秀落地导师团队！40位专业软件技术开发团队！100人营销团队！成功开拓了武汉、长沙、广州、深圳等市场。 平台的愿景使命：5年内共创万亿市值中小企业生态圈！帮助中国4000万中小民营企业提升企业核心竞争力，成功实现移动互联网转型！

    </div>




  </ion-content>



</ion-view>




