<ion-view view-title="管理收货地址">
  <ion-nav-bar   class="bar-positive ">
    <ion-nav-buttons side="left">
      <a   nav-direction="back"  href="/#/r/tab/Settings"  class="button button-icon ion-ios-arrow-left">

      </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a   nav-direction="back"  href="/#/r/tab/Settings"  class="button button-icon  ">
          <img class="address-delete" src="/img/setting/icon_shanchu@3x.png">
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content style="background-color: whitesmoke">
    <div class="list list-chongzhi" >


      <a class="item item-icon-right item-one-left" href="#">

        <span class="address-name">少来勾搭</span> <span class="address-number">13188888888</span><br/><span class="address">北京市东花市北里20号楼6单元501室 </span>
         <span class="select-chongzhi">
     <i id="icon-right" class="icon ion-ios-arrow-right"></i>
    </span>

      </a>

      <a class="item  item-icon-right item-one-left" href="#">
        <span class="address-name">少来勾搭</span> <span class="address-number">13188888888</span><br/><span class="address">北京市东花市北里20号楼6单元501室 </span>
           <span class="select-chongzhi">
     <i id="icon-right" class="icon ion-ios-arrow-right"></i>
    </span>

      </a>

    </div>


    <div class="please-frist">

      <p><a href="/#/r/tab/Settings/address/add"><button id="address-please"class=" button button-energized "><span class="address-add">新增收货地址</span></button>
      </a> </p>

    </div>

  </ion-content>

</ion-view>

