<ion-view view-title="编辑个人信息">

  <ion-nav-bar   class="bar-positive ">
    <ion-nav-buttons side="left">
      <a   nav-direction="back"  href="/#/r/tab/Settings"  class="button button-icon ion-ios-arrow-left">

      </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a   nav-direction="back"  href="/#/r/tab/Settings"  class="button button-icon ">

      </a>
    </ion-nav-buttons>
  </ion-nav-bar>


  <ion-content style="background-color: whitesmoke">
    <div class="list list-chongzhi" >

      <a class="item  item-icon-right  item-one-left" href="#" style="height: 70px">
<div style="margin-top: 10px;">我的头像</div>

        <img class="item-weixin-headimage"  src="/img/icon_weixin.png">
          <span class="select-chongzhi">
      <i id="icon-right" class="icon ion-ios-arrow-right"></i>
    </span>
      </a>

      <a class="item item-icon-right item-one-left" href="/#/r/tab/Settings/update/sex">

        性别
         <span class="select-chongzhi">
     <i id="icon-right" class="icon ion-ios-arrow-right"></i>
    </span>

      </a>

      <a class="item  item-icon-right item-one-left" href="/#/r/tab/Settings/update/username">

        用户名
           <span class="select-chongzhi">
     <i id="icon-right" class="icon ion-ios-arrow-right"></i>
    </span>

      </a>

      <a class="item  item-icon-right item-one-left" href="/#/r/tab/Settings/update/qq">

        QQ号码
           <span class="select-chongzhi">
     <i id="icon-right" class="icon ion-ios-arrow-right"></i>
    </span>

      </a>

      <a class="item  item-icon-right item-one-left" href="/#/r/tab/Settings/update/password" style="margin-top: 20px">

       修改密码
           <span class="select-chongzhi">
     <i id="icon-right" class="icon ion-ios-arrow-right"></i>
    </span>

      </a>


    </div>

  </ion-content>



  </ion-view>
