<ion-view view-title="个人中心"   hide-nav-bar="true"   style="overflow-x: hidden; overflow-y:visible;" scroll="false"   >
  <ion-content   style="background: whitesmoke;"   overflow-scroll="false"   scrollbar-y="false"   >


    <div class="ge-center-header">

        <div class="userheader">

              <div class="imgbox"  ng-click="Personalsetting()" >
                     <img  class="userheaderimg"  ng-src="{{Userinfo.imgheader}}" alt="">
                     <img  class="sex" ng-src="{{Userinfo.sex}}" alt="">
              </div>

              <div class="basinfo">
                      <h5 class="username"  ng-show='Userinfo.login'  > {{Userinfo.name}}</h5>
                      <p  ng-show='!Userinfo.login'>
                        还没有登录！
                        </p>
              </div>
        </div>
    </div>



    <div class="user-integral">
        <div>  <img src="./img/icon_integral@3x.png"  style="width:.9rem;height:.9rem"  alt="">
            <span> 积分 {{Userinfo.integral}}</span>
          </div>
        <div>  <img src="./img/icon_top-up.png" alt=""   style="margin-top:-.55rem" >
         <span>充值积分</span> </div>
    </div>

    <div  style="background: whitesmoke;" >

   <div  class="list   gerenlist-icon"  style="margin-top:20px;">

   <label class="item " ng-click='Personalsetting()' >
       <img src="./img/icon_management.png" alt="">
          个人信息设置
                <i class="ion-ios-arrow-right">  </i>
     </label>



     <label class="item " ng-click="companyInstall('r.companyInstall')">
       <img src="./img/icon_company.png" alt=""  >
          企业信息设置
                <i class="ion-ios-arrow-right">  </i>
     </label>


    <label class="item  "  ng-click="addermge()"  >
        <img src="./img/icon_dizhi@3x.png" alt="">
            管理收货地址
                  <i class="ion-ios-arrow-right">  </i>
      </label>


    <label class="item "  ng-click="showco()"  >
        <img src="./img/icon_code.png" alt="">
          我的二维码
                <i class="ion-ios-arrow-right">  </i>
     </label>


       <label class="item " ng-click="integral()">
        <img src="./img/icon_share.png" alt=""  style="    margin-top: -1px;" >
          分享好友<span style="    margin-left: 6rem;position: absolute;
    color: #aaa;">奖励积分</span>
         <i class="ion-ios-arrow-right">  </i>
     </label>
   </div>



   <div class="list   gerenlist-icon">

     <label class="item "  ng-click="userfanhui()" >
        <img src="./img/icon_feedback.png" alt="">
          用户反馈
                <i class="ion-ios-arrow-right">  </i>
     </label>


       <label class="item "   ng-click="updateAPP()"  ng-show="update"  >
        <img src="./img/icon_update.png" alt="">
           版本更新
        <i class="ion-ios-arrow-right"></i>
     </label>


     <label class="item " ng-click="aboutWe('r.SettingWe')">
        <img src="./img/icon_About.png" alt="">
          关于我们
        <i class="ion-ios-arrow-right">  </i>
     </label>

</div>



   <div class="outologin"  style="margin:0px;"   ng-click="outlogin()"      ng-show='Userinfo.login'    >
          退出
   </div>

    <div style="height:2rem"></div>

    </div>
  </ion-content>

    <!--//set模块-->
    <div class="action-sheet-backdrop cutom-sheet"      ng-click="closetallcationvalue()"   id='seletercode'   style="overflow: visible;
    "
        ng-class="{'active':setallcationstate}"    >
        <div class="action-sheet-wrapper "   ng-class="{'action-sheet-up':setallcationstate}" style="overflow: visible;
            top: 50%;
                margin-top: -200px;
        "   >
            <div class="action-sheet"  " style="width: 100%;margin: 0px;border-radius: 0px;overflow:visible;
                width: 60%;
                margin: 0 auto;
            ">
                <div class="action-sheet-group action-sheet-options   Custom-menu"
                ng-click="stopporp($event)"
                style="background: #fff;overflow: visible;margin: 0px;border-radius: 0px;"  >
                 <img ng-src="{{shopid}}" alt="">
                </div>

            </div>

        </div>




    </div>




</ion-view>
