
<ion-view view-title="管理收货地址">
  <ion-nav-bar   class="bar-positive ">
    <ion-nav-buttons side="left">
      <a   nav-direction="back"  href="/#/r/tab/Settings"  class="button button-icon ion-ios-arrow-left">

      </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a   nav-direction="back"  href=""  class="button button-icon  "ng-click="deleteAdress(item)" >
          <img class="address-delete" src="/img/setting/icon_shanchu@3x.png">
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content style="background-color: whitesmoke">
    <div class="list list-chongzhi" >



      <ion-checkbox ng-repeat="item in addressList"  ng-show="expression" ng-click="gainAdress(item.addr_id)">
        <span class="address-name ">{{item.link_man}}</span> <span class="address-number">{{item.link_phone}}</span><br/><span class="address">{{item.province}}{{item.city}}{{item.region}}{{item.street}} </span>

        <span class="select-chongzhi" ng-show="false">
     <i id="icon-right" class="icon ion-ios-arrow-right"></i>
    </span>
      </ion-checkbox>

      <a class="item item-icon-right item-one-left"  ng-repeat="item in addressList" ng-show="expressionA" ng-click="gainAdress(item)">

        <span class="address-name ">{{item.link_man}}</span> <span class="address-number">{{item.link_phone}}</span><br/><span class="address">{{item.province}}{{item.city}}{{item.region}}{{item.street}} </span>
         <span class="select-chongzhi">
     <i id="icon-right" class="icon ion-ios-arrow-right"></i>
    </span>

      </a>






    </div>


    <div class="please-frist">

      <p><a href="/#/r/tab/Settings/address/add"><button id="address-please"class=" button button-energized "><span class="address-add">新增收货地址</span></button>
      </a> </p>

    </div>

  </ion-content>

</ion-view>

