
<ion-view hide-tabs="true" view-title="新增" >


    <ion-nav-buttons side="right">
      <a   nav-direction="back"  href=""  class="button button-icon  " ng-click="keepaddress()">
       保存
      </a>
    </ion-nav-buttons>


  <ion-content style="background-color: whitesmoke">
    <div class="list list-chongzhi" >


      <a class="item item-icon-right item-one-left">
       <!-- href=" /#/r/tab/Settings/address/add/select"-->
        <!--<span class="address-name">请选择省市区</span>-->
        <input placeholder="请选择省市区" class="input-color-usercolse">
         <span class="select-chongzhi">
     <i id="icon-right" class="icon ion-ios-arrow-right"></i>
    </span>

      </a>

      <a class="item  item-icon-right item-one-left" >
        <span class="address-name"><input ng-model="newaddress" ng-change="Addaddress(newaddress)" placeholder="请输入详细地址" class="input-color-usercolse"></span>   <span class="select-chongzhi">

    </span>

      </a>
      <a class="item  item-icon-right item-one-left" >
        <span class="address-name"><input ng-model="name"  ng-change="newname(name)" placeholder="请输入收货人姓名" class="input-color-usercolse"></span>   <span class="select-chongzhi">

    </span>

      </a>
      <a class="item  item-icon-right item-one-left" >
        <span class="address-name"><input ng-model="number" ng-change="newnumber(number)" placeholder="请输入收货人联系电话" class="input-color-usercolse"></span>   <span class="select-chongzhi">

    </span>

      </a>
      <a class="item  item-icon-right item-one-left" >
        <span class="address-name"><input ng-model="email" ng-change="newemail(email)" placeholder="请输入邮编" class="input-color-usercolse"></span>   <span class="select-chongzhi">

    </span>

      </a>

      <a>
        <span class="address-name"><ion-toggle  ng-model="pushNotification.checked" ng-change="pushNotificationChange()">设为默认地址</ion-toggle></span>

      </a>



    </div>




  </ion-content>

</ion-view>
