<ion-view view-title="用户反馈">
  <ion-nav-bar   class="bar-positive ">
    <ion-nav-buttons side="left">
      <a   nav-direction="back"  href="/#/r/tab/Settings"  class="button button-icon ion-ios-arrow-left">

      </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a   nav-direction="back"  href="/#/r/tab/Settings"  class="button button-icon ">
        提交
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content style="background-color: whitesmoke" >
     <div>
       <textarea class="advice" placeholder="请输入您的反馈意见（500字）"></textarea>
       <input class="advice-Nb" type="text" placeholder="请留下您的手机号/QQ/邮箱">
     </div>


  </ion-content>


</ion-view>

