<ion-view view-title="用户反馈"     hide-tabs="true"   >

  <ion-nav-buttons side="left"    class="button back-button buttons button-clear header-item">
    <div class="button back-button buttons button-clear header-item"   ng-click="backtoprevView('r.SettingsUser')">
      <i class="icon ion-ios-arrow-left" style="float:left;margin-right:5px;"></i>
      <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"><span class="default-title hide" style='display:none' >Back</span><span class="previous-title">{{parenttitle}}</span></span>
    </div>
  </ion-nav-buttons>


    <ion-nav-buttons side="right">
      <a   ng-click="submitfankui()"  class="button button-icon ">
        提交
      </a>
    </ion-nav-buttons>

  <ion-content style="background-color: whitesmoke" overflow-scroll="false"   scrollbar-y="false"  >


<div class="list">
      <label class="item item-input">

      <input type="text"    ng-model="fankui.qq"  placeholder="QQ">

    </label>
</div>

<div class="list">



    <label class="item item-input">
          <textarea placeholder="留言反馈"     ng-model="fankui.make"    maxlength="300"   style="min-height:200px"  ></textarea>
    </label>

    </div>






  </ion-content>


</ion-view>

