<ion-view view-title="修改密码"  hide-tabs="true"  >

 
    <ion-nav-buttons side="right">
      <a   nav-direction="back"  ng-click="save()"         class="button button-icon ">
        保存
      </a>
    </ion-nav-buttons>


  <ion-content    overflow-scroll="false"   scrollbar-y="false"    style="background-color: whitesmoke"     >





   <div class="list   gerenlist-icon" style="margin-top:20px;">

        <div class="item  item-input"     style="width:100%;margin-left:0px;    padding-top: 5px;padding-bottom: 5px;"  >
            <span class="input-label" style="font-size:14px">旧密码</span>
            <input type="password"  ng-model="msg.jiumimi"     placeholder="旧密码"  >
        </div>

    </div>


   <div class="list   gerenlist-icon" style="margin-top:20px;">

        <div class="item  item-input"     style="width:100%;margin-left:0px;    padding-top: 5px;padding-bottom: 5px;"  >
            <span class="input-label" style="font-size:14px" >新密码</span>
            <input type="password" ng-model="msg.newmima"     placeholder="新密码"  >
        </div>

        <div class="item  item-input"     style="width:100%;margin-left:0px;    padding-top: 5px;padding-bottom: 5px;"  >
            <span class="input-label" style="font-size:14px" >确认密码</span>
            <input type="password"  ng-model="msg.chormima"        placeholder="确认密码"  >
        </div>


    </div>









  </ion-content>
</ion-view>



