<ion-view view-title="个人中心"   hide-nav-bar="true"   style="overflow-x: hidden; overflow-y:visible;" scroll="false"   >
  <ion-content style="background: whitesmoke"   overflow-scroll="false"   scrollbar-y="false"   >
    
    <div class="ge-center-header">

        <div class="userheader">
              <div class="imgbox">
                     <img  class="userheaderimg"  ng-src="{{Userinfo.imgheader}}" alt="">
                     <img  class="sex" ng-src="{{Userinfo.sex}}" alt="">
              </div>

              <div class="basinfo">
                      <h5 class="username"  ng-show='Userinfo.login'  > {{Userinfo.name}}</h5>
                      <p  ng-show='!Userinfo.login'>
                        还没有登录！
                        </p>

              </div>
        </div>
    </div>



    <div class="user-integral">
        <div>  <img src="./img/icon_integral@3x.png"  style="width:.9rem;height:.9rem"  alt="">
            <span> 积分 {{Userinfo.integral}}</span>
          </div>
        <div>  <img src="./img/icon_top-up.png" alt=""   style="margin-top:-.55rem" >
         <span>充值积分</span> </div>
    </div>

   <div  class="list   gerenlist-icon"  style="margin-top:20px;">

   <label class="item " ng-click='Personalsetting()' >
       <img src="./img/icon_management.png" alt="">
          个人信息设置
                <i class="ion-ios-arrow-right">  </i>
     </label>



     <label class="item ">
       <img src="./img/icon_company.png" alt="">
          企业信息设置
                <i class="ion-ios-arrow-right">  </i>
     </label>


    <label class="item  "  ng-click="addermge()"  >
        <img src="./img/icon_dizhi@3x.png" alt="">
            管理收货地址
                  <i class="ion-ios-arrow-right">  </i>
      </label>


    <label class="item "  ng-click="showco()"  >
        <img src="./img/icon_code.png" alt="">
          我的二维码
                <i class="ion-ios-arrow-right">  </i>
     </label>


       <label class="item ">
        <img src="./img/icon_share.png" alt="">
          分享好友
                <i class="ion-ios-arrow-right">  </i>
     </label>
   </div>



   <div class="list   gerenlist-icon">
     
     <label class="item "  ng-click="userfanhui()" >
        <img src="./img/icon_feedback.png" alt="">
          用户反馈
                <i class="ion-ios-arrow-right">  </i>
     </label>


       <label class="item "   ng-click="updateAPP()"  ng-show="update"  >
        <img src="./img/icon_update.png" alt="">
           版本更新
        <i class="ion-ios-arrow-right"></i>
     </label>


     <label class="item ">
        <img src="./img/icon_About.png" alt="">
          关于我们
        <i class="ion-ios-arrow-right">  </i>
     </label>

</div>



   <div class="outologin"  style="margin:0px;"   ng-click="outlogin()"      ng-show='Userinfo.login'    >
          退出
   </div>


    <div style="height:2rem"></div>





 <style>

        .showcoder.active{

              opacity: 1 !important;
              z-index: 9999 !important;
        }
      </style>



      <div class="madtansition  action-sheet-backdrop  coustim-code   showcoder"   id="ahseetparnercode"       ng-click='closecustomenu()'
           style="display:flex !important;background: rgba(0,0,0,0.7) !important;
            opacity: 0;
            z-index: -1;
           "
           ng-class="{'active':opencustomenuatts}"   >
        <div style="text-align:center">
          
          <img   ng-src="{{shopid}}"

                 style="    width: 16em;
              height: 16em;
              position: absolute;
              top: 50%;
              left: 50%;
              margin-left: -8em;
              margin-top: -8em;"
                 alt="">
        </div>
      </div>










  </ion-content>
</ion-view>
