
<ion-view hide-tabs="true" view-title="管理收货地址">

  <ion-nav-buttons side="left"    class="button back-button buttons button-clear header-item">
    <div class="button back-button buttons button-clear header-item"   ng-click="backtoprevView('r.settingAddress')">
      <i class="icon ion-ios-arrow-left" style="float:left;margin-right:5px;">个人中心</i>
      <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"><span class="default-title hide" style='display:none' >Back</span><span class="previous-title">{{parenttitle}}</span></span>
    </div>
  </ion-nav-buttons>



    <ion-nav-buttons side="right">
      <a   nav-direction="back"  href=""  class="button button-icon  "ng-click="deleteAdress(item)" >
          <img class="address-delete" src="./img/setting/icon_shanchu@3x.png">
      </a>
    </ion-nav-buttons>



  <ion-content style="background-color: whitesmoke" scrollbar-y="false">
    <div class="list list-chongzhi" >



      <ion-checkbox ng-repeat="item in addressList"  ng-show="expression" ng-click="gainAdress(item.addr_id)">
        <span class="address-name ">{{item.link_man}}</span> <span class="address-number">{{item.link_phone}}</span><br/><span class="address">{{item.province}}{{item.city}}{{item.region}}{{item.street}} </span>

        <span class="select-chongzhi" ng-show="false">
     <i id="icon-right" class="icon ion-ios-arrow-right"></i>
    </span>
      </ion-checkbox>

      <a class="item item-icon-right item-one-left"  ng-repeat="item in addressList" ng-show="expressionA" >
       <!-- ng-click="Gainadress(item.link_man,item.link_phone,item.province,item.city,item.region,item.street,item.zcode)"-->

        <span class="address-name ">{{item.link_man}}</span> <span class="address-number">{{item.link_phone}}</span><br/><span class="address">{{item.province}}{{item.city}}{{item.region}}{{item.street}} </span>
         <span class="select-chongzhi">
     <i id="icon-right" class="icon ion-ios-arrow-right"></i>
    </span>

      </a>






    </div>





  </ion-content>
  <ion-footer-bar align-title="center" >
    <div class="col  classif-topborder3"  ng-click="addArddss()"  style="text-align: -webkit-center;
    height: 45px;
    margin-top: -5px;
    margin-right: -5px; margin-left: -5px;"><div style="font-size: 15px;color: white;padding: 7px">新增收货地址</div></div>

  </ion-footer-bar>
</ion-view>

