<ion-view view-title="新增收货地址">
  <ion-nav-bar   class="bar-positive ">
    <ion-nav-buttons side="left">
      <a   nav-direction="back"  href="/#/r/tab/Settings"  class="button button-icon ion-ios-arrow-left">

      </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a   nav-direction="back"  href="/#/r/tab/Settings"  class="button button-icon  ">
       保存
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content style="background-color: whitesmoke">
    <div class="list list-chongzhi" >


      <a class="item item-icon-right item-one-left" href="#">
        <span class="address-name">请选择省市区</span>
         <span class="select-chongzhi">
     <i id="icon-right" class="icon ion-ios-arrow-right"></i>
    </span>

      </a>

      <a class="item  item-icon-right item-one-left" href="#">
        <span class="address-name">请输入详细地址</span>   <span class="select-chongzhi">
     <i id="icon-right" class="icon ion-ios-arrow-right"></i>
    </span>

      </a>
      <a class="item  item-icon-right item-one-left" href="#">
        <span class="address-name">请输入收货人姓名</span>   <span class="select-chongzhi">
     <i id="icon-right" class="icon ion-ios-arrow-right"></i>
    </span>

      </a>
      <a class="item  item-icon-right item-one-left" href="#">
        <span class="address-name">请输入收货人联系电话</span>   <span class="select-chongzhi">
     <i id="icon-right" class="icon ion-ios-arrow-right"></i>
    </span>

      </a>
      <a class="item  item-icon-right item-one-left" href="#">
        <span class="address-name">请输入邮编</span>   <span class="select-chongzhi">
     <i  id="icon-right" class="icon ion-ios-arrow-right"></i>
    </span>

      </a>
      <a  class="item  item-icon-right item-one-left" href="#">
        <span class="address-name">设为默认地址</span>
        <span class="select-chongzhi">
     <i id="icon-right" class="icon ion-android-checkbox-outline-blank"></i>
    </span>

      </a>

    </div>




  </ion-content>

</ion-view>

