<ion-view view-title="编辑个人信息"    hide-tabs="true"  >
  <ion-content style="background-color: whitesmoke"   overflow-scroll="false"   scrollbar-y="false"        >


    <div class="list   gerenlist-icon" style="margin-top:20px;">

        <label class="item"   style="width:100%;margin-left:0px;line-height: 40px;"  ng-click="Headportrait()"   >
            <img  ng-src="{{header}}"  style="right: 10%;width: 50px;height: 50px;border-radius: 50%;left: initial;top: 50%;margin-top: -25px;"    alt="">
                我的头像
                <i class="ion-ios-arrow-right"></i>

          </label>

      <label class="item"   ng-click='sexgo()'    style="width:100%;margin-left:0px"  >
                性别
                <i class="ion-ios-arrow-right"></i>
                <span style="float: right;margin-right: 10px;display: inline-block;max-width: 50%;overflow: hidden;text-overflow: ellipsis;" >{{sex}}</span>

          </label>

          <label class="item"   style="width:100%;margin-left:0px"  >
                真实姓名

                <span style="float: right;margin-right: 10px;display: inline-block;max-width: 50%;overflow: hidden;text-overflow: ellipsis;" >{{real_name}}</span>
          </label>
    </div>



    <div class="list   gerenlist-icon" style="margin-top:20px;">
        <div class="item"   ng-click='qqc()'   style="width:100%;margin-left:0px"  >
                QQ号码
                <i class="ion-ios-arrow-right"></i>
                <span style="float: right;margin-right: 10px;display: inline-block;max-width: 50%;overflow: hidden;text-overflow: ellipsis;" >{{qq}}</span>
          </div>

            <label class="item"   ng-click="resetPwd()"   style="width:100%;margin-left:0px"  >
                修改密码
                <i class="ion-ios-arrow-right"></i>
          </label>
    </div>


  </ion-content>



  </ion-view>
