<ion-view view-title="邀请奖励"    hide-tabs="true"  >



          <ion-nav-buttons    side="left"         class="button back-button buttons button-clear header-item">
    <div    ng-if='showtitle'  class="button back-button buttons button-clear header-item"   ng-click="backtoprevView('r.SettingOne')">
      <i class="icon ion-ios-arrow-left" style="float:left;margin-right:5px;"></i>
      <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"><span class="default-title hide" style='display:none' >Back</span><span class="previous-title">{{parenttitle}}</span></span>
    </div>
  </ion-nav-buttons>

  <ion-content style="background-color: whitesmoke"   overflow-scroll="false"   scrollbar-y="false"        >

<div>
   <div style="position: absolute">
     <img src="./img/setting/friends-1@3x.png" style=" vertical-align: top">
    <img src="./img/setting/icon_anniu2@3x.png" style="    width: 60%;
    margin: 0 auto;
    position: absolute;
    margin-left: 20%;    margin-top: -25%;">
     <div style="      margin-top: -90%;
    color: #feeb0b;
    font-size: 25px;
    text-align: -webkit-center;
    line-height: 30px;
    font-weight: 600;">每邀请一位好友<br>最高奖励{{one}}积分</div>
     <div style="    margin-top: 20%;
    color: white;
    font-size: 14px;
    text-align: -webkit-center;">一共邀请{{count}}位好友，累积{{rebate}}积分</div>
   </div>

</div>

  </ion-content>



</ion-view>
