<ion-view view-title="修改密码">
  <ion-nav-bar   class="bar-positive ">
    <ion-nav-buttons side="left">
      <a   nav-direction="back"  href="/#/r/tab/Settings/update"  class="button button-icon ">
        取消
      </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a   nav-direction="back"  href="/#/r/tab/Settings"  class="button button-icon ">
        确定
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content style="background-color: whitesmoke" >


    <div class="list " >
      <a class="item item-icon-left item-input-left" href="#" style="height: 2.8rem; position: relative;">

        <div>
          手机号：
          <input class="input-color-password" placeholder="请输入您的手机号码">
          <div class="">
            <div class="shuxianPassword"></div>
          </div>
          <div class="ion-close-user1">获取验证码</div>
        </div>

      </a>
      <a class="item item-icon-left item-input-left" href="#">

        <div>

          验证码：
          <input class="input-color-usercolse" placeholder="请输入您的验证码">
        </div>

      </a>

    </div>

    <div class="list " >
      <a class="item item-icon-left item-input-left" href="#">

        <div>
          输入密码：
          <input class="input-color-usercolse" placeholder="请输入您的密码">
        </div>

      </a>
      <a class="item item-icon-left item-input-left" href="#">

        <div>

          确认密码：
          <input class="input-color-usercolse" placeholder="请再一次输入您的密码">
        </div>

      </a>

    </div>

  </ion-content>
</ion-view>



