<ion-view view-title="QQ号码"  hide-tabs="true" >

    <ion-nav-buttons side="right">
      <a   nav-direction="back"  ng-click="save()"     class="button button-icon ">
        保存
      </a>
    </ion-nav-buttons>
  <ion-content  overflow-scroll="false"   scrollbar-y="false"   style="background-color: whitesmoke" >

<style>
  .nopir.activated {
    background:#fff !important;
  }
</style>




  <div class="list   gerenlist-icon" style="margin-top:20px;">

  
      <div class="item item-icon-left item-input-left nopir"       style="width:100%;margin-left:0px"  >
                 <input style="padding-right:20px;
                 -webkit-appearance: none;
                 -moz-appearance: none;
                 appearance: none;

                 " class="input-color-usercolse" ng-model="msg.qq"   background: transparent;border:none"  placeholder="请输入您的QQ号码">

                <div   ng-click="clear()"   ng-if='msg.qq.length'  class="ion-close-circled ion-close-user" style="    margin-top: -28px;"></div>

          </div>

    </div>



  </ion-content>
</ion-view>


