<ion-view view-title="分享好友">




  <ion-nav-bar   class="bar-positive ">
    <ion-nav-buttons side="left">
      <a   nav-direction="back"  href="/#/r/tab/Settings"  class="button button-icon ion-ios-arrow-left ">

      </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a   nav-direction="back"  href="/#/r/tab/Settings"  class="button button-icon ">

      </a>
    </ion-nav-buttons>
  </ion-nav-bar>
<ion-content>
  <div class="icon-friends-image">
    <img src="./img/icon_bj3.png">
  </div>

  <div class="homein-tabs-meun1 row">
    <div class="col col-33">
      <img  src="./img/icon_weixin3.png" alt="">
      <p>微信好友</p>
    </div>
    <div class="col col-33">
      <img  src="./img/icon_QQ@3x.png" alt="">
      <p>QQ</p>
    </div>
    <div class="col col-33">
      <img src="./img/icon_iphone3@x.png" alt="">
      <p>手机短信</p>
    </div>

  </div>

  <div class="please-frist">

    <p><button id="please"class=" button button-energized ">更多邀请方式</button>
    </p>

  </div>
</ion-content>
</ion-view>



