<ion-view view-title="QQ号码">
  <ion-nav-bar   class="bar-positive ">
    <ion-nav-buttons side="left">
      <a   nav-direction="back"  href="/#/r/tab/Settings/update"  class="button button-icon ">
        取消
      </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a   nav-direction="back"  href="/#/r/tab/Settings"  class="button button-icon ">
        保存
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content style="background-color: whitesmoke" >



    <div class="list " >



      <a class="item item-icon-left item-input-left" href="#">

        <div>

          <input class="input-color-usercolse" placeholder="请输入您的QQ号码">
          <div class="ion-close-circled ion-close-user"></div>
        </div>

      </a>


    </div>

  </ion-content>
</ion-view>


