<ion-view view-title="易物流程"  >


  <ion-nav-buttons side="left" >

    <button    ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item"><i class="icon ion-ios-arrow-left"></i>首页
    </button>
  </ion-nav-buttons>

  <ion-content  scrollbar-y="false"  overflow-scroll="false"   style="background: whitesmoke" >

  <div class="row" style="height: 100px; background-color: white;" >
    <div  class="col" style="width: 100px">

      <img style="margin-top: .3rem;" src="./img/classif/1_flow@3x.png" alt="">
    </div>

    <div class="col col-80">
        <div class="flow-one">第一步：实名认证<br/></div>
        <div class="flow-onetext">100%实名认证，保障交易安全</div>

    </div>
  </div>

    <div class="row" style="height: 100px; background-color: white;margin-top: 15px;" >
      <div  class="col" style="width: 100px">
        <img style="margin-top: .3rem;"  src="./img/classif/2_flow@3x.png" alt="">

      </div>

      <div class="col col-80">
        <div class="flow-one">第二步：发布商品<br/></div>
        <div class="flow-onetext">在线发布您的商品，等待需方购买</div>

      </div>
    </div>

    <div class="row" style="height: 100px; background-color: white;margin-top: 15px;" >
      <div  class="col" style="width: 100px">
        <img style="margin-top: .3rem;"  src="./img/classif/3_flow@3x.png" alt="">

      </div>

      <div class="col col-80">
        <div class="flow-one">第三步：获得积分<br/></div>
        <div class="flow-onetext">通过充值方式或者卖出商品获得积分</div>

      </div>
    </div>

    <div class="row" style="height: 100px; background-color: white;margin-top: 15px;" >
      <div  class="col" style="width: 100px">
        <img style="margin-top: .3rem;" src="./img/classif/4_flow@3x.png" alt="">

      </div>

      <div class="col col-80">
        <div class="flow-one">第四步：购买商品<br/></div>
        <div class="flow-onetext">搜索需要的商品，用积分购买</div>

      </div>
    </div>
  </ion-content>



</ion-view>



