<ion-view  hide-back-button="true"  view-title="首页"  cache-view="true"   >

  <ion-nav-bar   class="bar-positive ">
    <!--<ion-nav-buttons side="left">-->
    <!--<button class="button" ng-click="doSomething()">-->
    <!--我是一个在导航栏左侧的按钮！-->
    <!--</button>-->
    <!--</ion-nav-buttons>-->
    <!--<ion-header-bar  class="bar-positive item-input-inset  lb-main-title-search" >-->
    <!--<ion-nav-buttons side="left">
      <a   nav-direction="forward" ng-click="goModular('r.login')"  class="button button-icon ion-ios-location-outline location-headers home-location">
        <p>全国</p>
      </a>
    </ion-nav-buttons>-->
    <ion-nav-buttons side="right">
      <button class="button button-icon  ion-ios-search-strong"  ng-click="searchBody()"  ></button>
    </ion-nav-buttons>
    <!--</ion-header-bar>-->
</ion-nav-bar>
  <ion-content  overflow-scroll="false"   scrollbar-y="false"   style='background-color:#f3f3f3' >

    <div style="height:110px;" ng-click="paly()"  >
          支付
    </div>


      <div   ng-if='guankao'  >
            <ion-slide-box    ng-if='guankao'  class='homeSlidebox' auto-play='true'   >
              <ion-slide   ng-repeat="ss   in  guankao"   ng-click="gogunal(ss)"   >
                <img ng-src="{{ss.qiniu_key}}" alt="">
              </ion-slide>
            </ion-slide-box>

      </div>




    <div class="homein-tabs-meun row">
      <div class="col col-25" ng-click="flow('r.flow')">
        <img src="./img/homepage/icon_service@3x1.png" alt="" >
        <p>交易流程</p>
      </div>

      <div class="col col-25" ng-click="Newnews('r.homeNews')">
        <img src="./img/homepage/icon_dynamic@3x.png" alt="">
        <p>最新动态</p>
      </div>
      <div class="col col-25" ng-click="tastetable()">
        <img src="./img/homepage/icon_experience@3x.png" alt="">
        <p>体验专区</p>
      </div>
      <div class="col col-25" ng-click="charitable()" >
        <img src="./img/homepage/icon_charity@3x.png" alt="">
        <p>活动促销</p>
      </div>
    </div>

    <div class="homebox">
      <div class="row ">
        <div class="col col-33" ng-click="xiaoshouorder()" >
          <img src="./img/homepage/iconfont-diqiu@3x.png" alt="">
          <p>销售订单</p>
        </div>


        <div class="col col-33"   ng-click="shomsge()" >
          <img src="./img/homepage/iconfont-shangchengxiton@3x.png" alt="">
          <p>店铺管理</p>
        </div>


        <div class="col col-33" ng-click="caigoudindan1()">
          <img src="./img/homepage/icon_procurement@3x.png" alt="">
          <p>采购订单</p>
        </div>
      </div>

      <div class="row rowtow">
        <div class="col col-33"    ng-click="jindian()" >
          <img src="./img/homepage/iconfont-saoma@3x.png" alt="">
          <p>扫一扫</p>
        </div>

        <div class="col col-33"  ng-click="goodmsg()"  >
          <img src="./img/homepage/icon_release@3x.png" alt="">
          <p>商品管理</p>
        </div>

        <div class="col col-33"    ng-click="goodsClass()"  >
          <img src="./img/homepage/icon_classificationaa@3x.png" alt="">
          <p>商品分类</p>
        </div>
      </div>

    </div>

    <div class="home-Honestenterprise">
      <div class="title" style="border-bottom: 1px solid #6c3800;">
        诚信企业<span ng-click="moreCompany('r.Companies')">更多</span>
      </div>

      <div class="content">

        <div class="shopclaslist "   style="white-space: nowrap;overflow: hidden;    z-index: 9999;position: relative;
         height: 8rem;background-color: whitesmoke;
         ">
          <div newdraggable  style="display: inline-block;">
            <div class="newlistitme"style="  "ng-click="goshopin(item)"   ng-class="{'active':item.select}"   ng-repeat="item in company"   >
              <div class="img-homeqiye">
             <img ng-src={{item.shop.img_shop}} style="padding: 2px">
              </div>
              <div class="chenxin-home"><span style="position: absolute">【</span><span class="home-companyname">{{item.company_name}}</span><span style="position: absolute">】</span></div>
              <div class="chenxin-home1"> <span class="chenxin-dengji">等级</span><img src="./img/homepage/lev1.png" alt="" ng-if="item.faith_level==1"class="chenxin-xingji lev1-home"></div>
              <div class="chenxin-home1"> <span class="chenxin-dengji">等级</span><img src="./img/homepage/lev2.png" alt="" ng-if="item.faith_level==2"class="chenxin-xingji lev2-home"></div>
              <div class="chenxin-home1"> <span class="chenxin-dengji">等级</span><img src="./img/homepage/lev3.png" alt="" ng-if="item.faith_level==3"class="chenxin-xingji lev3-home"></div>
              <div class="chenxin-home1"> <span class="chenxin-dengji">等级</span><img src="./img/homepage/lev4.png" alt="" ng-if="item.faith_level==4"class="chenxin-xingji lev4-home"></div>
              <div class="chenxin-home1"> <span class="chenxin-dengji">等级</span><img src="./img/homepage/lev5.png" alt="" ng-if="item.faith_level==5"class="chenxin-xingji lev5-home"></div>

            </div>



          </div>
        </div>


       <!-- <div class="itemin" ng-repeat="x in company"  ng-click="goshopin(x)"   >
          <div class="content">
            <div class="home-company" style="position: relative;
                padding: 4px 6px;
                padding: 4px 6px;
                height: 2.7rem;
                overflow: hidden;
                line-height: 1.4;
            " >{{ x.company_name }}</div>
         <div class="lev" style=" position: absolute;bottom: 0;width: 100%;">
              <img src="./img/homepage/lev1.png" alt="" ng-if="x.faith_level==1" style="width: 15%;">
              <img src="./img/homepage/lev2.png" alt="" ng-if="x.faith_level==2" style="width: 35%;">
              <img src="./img/homepage/lev3.png" alt="" ng-if="x.faith_level==3" style="width: 50%;">
              <img src="./img/homepage/lev4.png" alt="" ng-if="x.faith_level==4" style="width: 70%;">
              <img src="./img/homepage/lev5.png" alt="" ng-if="x.faith_level==5" style="width: 80%;">
            </div>
          </div>
        </div>-->




      </div>

    </div>


    <div class=" home-Honestenterprise homenewlist">
      <div class="title">易物快报  </div>
      <div class="content">

        <div class="  gerenlist-icon" ng-repeat="x in news">

          <label class=""   style=""  >
            <div class="row" style="height: 35px;    border-bottom: 1px solid #ccc;" >
              <div  class="col" style="">
                    <div class="home-kuainews">{{ x.buyer_nick }}</div>

              </div>

              <div class="col col-50">
                        <div class="home-kuainewsnody">成功交易了{{ x.goods_name  }}</div>
              </div>
              <div  class="col" style="">
                <div style="font-size: 12px;text-align: -webkit-center;" class="pay-time">{{ x.pay_time}}</div>
              </div>
            </div>
          </label>
        </div>



      <!--  <div class="newitem" ng-repeat="x in news">
          <div style="width: 70%;text-indent: 5px">
            <span class="home-kuaibao">{{ x.buyer_nick }}</span>
            <span style="margin-left: 10%;color: red;">成功交易了{{ x.goods_name  }}</span>
          </div>
          <div class="tiem">{{ x.pay_time}}</div>
        </div>
-->
      </div>

    </div>

    <p style="height:10px"></p>

  </ion-content>
</ion-view>
