<ion-view view-title="动态详情"  >


  <ion-nav-buttons    side="left"         class="button back-button buttons button-clear header-item">
    <div    ng-if='showtitle'  class="button back-button buttons button-clear header-item"   ng-click="backtoprevView('r.homeNewsContent')">
      <i class="icon ion-ios-arrow-left" style="float:left;margin-right:5px;"></i>
      <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"><span class="default-title hide" style='display:none' >Back</span><span class="previous-title"
                                                                                                                                                     style="display: block;"
      >{{parenttitle}}</span></span>
    </div>

  </ion-nav-buttons>


  <ion-content  scrollbar-y="false"  overflow-scroll="false"   style="background: white" >


    <div>

      <div class="newsC-text">
        <span >{{newsList.title}}</span>
      </div>

      <div  class="newsC-img" ng-if="Newimg_status">
        <img src="{{newsList.content_img}}" class="newsC-img2">
      </div>

      <div  class="newsC-img" ng-if="img_status">
        <img src="{{newsList.qiniu_key}}" class="newsC-img2">
      </div>


<div class="newsC-content">
  <tr>
      <td><div ng-bind-html="myHtml" ></div></td>
  </tr>
</div>

    </div>

    <div>
      <div style="height: 40px;background-color: whitesmoke; margin-top: 10px;"></div>
    </div>





  </ion-content>



</ion-view>



