<ion-view view-title="动态详情"  >



  <ion-content  scrollbar-y="false"  overflow-scroll="false"   style="background: white" >


    <div>

      <div class="newsC-text">
        <span >{{newsList.title}}</span>
      </div>

      <div  class="newsC-img">
        <img src="{{newsList.qiniu_key}}" class="newsC-img2">
      </div>



<div class="newsC-content">
  <tr>
      <td><div ng-bind-html="myHtml" ></div></td>
  </tr>
</div>

    </div>

    <div>
      <div style="height: 40px;background-color: whitesmoke; margin-top: 10px;"></div>
    </div>





  </ion-content>



</ion-view>



