<ion-view  hide-tabs="true"  view-title="采购订单">







       <ion-nav-bar   class="bar-positive" ng-hide="isHide">

        <ion-nav-back-button class="button-clear"    style="font-size:14px;color:#6b3801"  ng-click="backv()" >
            <i class="icon ion-ios-arrow-left" style='#6b3801'  ></i> 返回
          </ion-nav-back-button>



          <ion-nav-buttons    side="left"         class="button back-button buttons button-clear header-item">



    <div    ng-if='showtitle'  class="button back-button buttons button-clear header-item"   ng-click="backtoprevView('r.HomPurchase')"  >

      <i  ng-if='showtitle'  class="icon ion-ios-arrow-left" style="float:left;margin-right:5px;color:#6b3801"></i>
      <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"><span class="default-title hide" style='display:none' >Back</span><span class="previous-title"
      style="    display:block;
        color:#6b3801;
      "
      >{{parenttitle}}</span></span>

    </div>


          </ion-nav-buttons>
         <ion-nav-buttons side="right">
           <a   nav-direction="back"   class="button button-icon  ion-ios-search-strong " ng-click="searchBody()">

           </a>
         </ion-nav-buttons>


  </ion-nav-bar>










  <ion-content  style="background: #F7F7F7;overflow: hidden;" ;overflow-scroll="false"  scrollbar-y="false"  >

    <div class="coutms" >
      <div  ng-class="{'active':all}"   ng-click="alls()"    >全&nbsp;部</div>
      <div  ng-class="{'active':dfk}"   ng-click="dfks()"   >待发货</div>
      <div  ng-class="{'active':dfc}"   ng-click="dfcs()"   >待收货</div>
      <div  ng-class="{'active':dfh}"   ng-click="dfns()" >已完成</div>
    </div>

    <ion-scroll  delegate-handle="list"
                 lazy-scroll
                 overflow-scroll="false"
                 scrollbar-y="false"
                 style="width: 100%;
                     overflow:hidden
                     "
                 ng-style="caklateheight"  >
      <ion-refresher spinner="ios"  pulling-text="刷新" on-refresh="loadOlderStories(true)"   ></ion-refresher>


      <!--////显示的那个 tab  自己控制-->
      <div >
        <div class="ordersList-one" ng-repeat="item in ShoppingList">

          <div class="sales-name" >
            <div style="float: left">{{item.shop_name}}</div>

            <div ng-switch="{{item.post_status}}">
              <div style="float: right"ng-switch-when="1" >已付款</div>
              <div style="float: right" ng-switch-when="2">已发货</div>
              <div style="float: right" ng-switch-when="3">已收货</div>
              <div style="float: right" ng-switch-when="4">交易完成</div>
              <div style="float: right" ng-switch-when="5">已退货</div>
            </div>


          </div>

          <div class="row" style="height: 20px;   " >
            <div  class="col" style="width: 100px">
              <img src="{{item.pic_path}}"  style="width: 95%;
    height: 80px;">

            </div>

            <div class="col col-60">
              <span class="news-yiyu">{{item.goods_name}}</span>
              <span class="yiyutwoONE">{{item.goods_property}}</span>

            </div>
          </div>



            <!--<div  style="float: left">-->
              <!--<img style="width: 100px;padding-left: 10px;margin-top: 5px" image-lazy-src="{{item.pic_path}}" image-lazy-distance-from-bottom-to-load="100">-->
            <!--</div>-->

            <!--<div class="msg">-->
              <!--<div>{{item.goods_name}}</div>-->
              <!--<div>{{item.goods_property}}</div>-->
            <!--</div>-->


          <div class="list " style="margin-top: 4rem;"   >

            <a class="item item-icon-right item-input-left  " style="height: 30px;padding: 6px" >


                <P style="font-size: 13px;
    color: black;">
                  共计{{item.goods_num }}件商品 &nbsp;合计:{{item.total_fee}}
                </P>


            </a>
            <a class="item item-icon-right item-input-left"  style="height: 30px;padding: 6px">

              <div>
                <p style="font-size: 13px;
    color: black;">
                  订单编号:  {{item.order_basic_id}}
                </p>
              </div>

            </a>

            <a class="item item-icon-right item-input-left"  style="height: 50px;padding: 6px">

              <div style="float: right;padding: 2px"  >  <!-- 1 自提  0 物流-->
                <button  ng-click="selfLeft(item.odid)"  ng-if="post_type==1"  class="button button-small button-stabl"  style="width: 60px; border: 1px solid #a2a2a2;"><p style="color:#a2a2a2;font-size: 10px">二维码</p></button>

                <button  ng-click="selfRight(item.goods_basic_id)"  ng-if="1==1"  class="button button-small button-stabl"  style="width: 60px; border: 1px solid #11c1f3;"><p style="color:#a2a2a2;font-size: 10px">商家信息</p></button>

                <button  ng-click="dataRight(item.order_basic_id)"  ng-if="item.post_status==2"  class="button button-small button-stabl"  style="width: 60px; border: 1px solid #feeb0b;"><p style="color:#a2a2a2;font-size: 10px">物流详情</p></button>

                <button  ng-click="dataLeft(item.odid,item.order_basic_id,$index)"  ng-if="item.post_status==2"  class="button button-small button-stabl"  style="width: 55px; border: 1px solid #33cd5f;"><p style="color:#28a54c;font-size: 10px">收&nbsp;货</p></button>

                <button ng-click="purchaseorde(item.odid)" class="button button-small button-stabl"  style="width: 55px; border: 1px solid orange;">详&nbsp;情</button>
              </div>

            </a>


          </div>


          <div style="height: 1px"></div>
        </div>
      </div>



      <ion-infinite-scroll  ng-if="expression" style="height: 20px;line-height: 40px;margin-bottom:20px;text-align: center" spinner="dots" on-infinite="loadOlderStories()"  distance="1%"  > </ion-infinite-scroll>
      <div ng-if="!expression" style="line-height: 90px;margin-bottom:40px;text-align: center;color:#999" >没有更多了!</div>


    </ion-scroll>

    <style>

      .showcoder.active{

        opacity: 1 !important;
        z-index: 9999 !important;
      }
    </style>

    <div class="madtansition  action-sheet-backdrop  coustim-code   showcoder"   id="ahseetparnercode"       ng-click='closecustomenu()'
         style="display:flex !important;background: rgba(0,0,0,0.7) !important;
            opacity: 0;
            z-index: -1;
           "
         ng-class="{'active':opencustomenuatts}"   >
      <div style="text-align:center">

        <img   ng-src="{{selfId}}"

               style="    width: 16em;
              height: 16em;
              position: absolute;
              top: 50%;
              left: 50%;
              margin-left: -8em;
              margin-top: -8em;"
               alt="">
      </div>
    </div>

  </ion-content>


  <script id="templates/searchModal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-nav-bar   class="bar-positive   home-search-noback">
        <ion-nav-buttons side="right">
          <button class="button button-icon " ng-click="leftHide()" >
            返回
          </button>
        </ion-nav-buttons>

        <ion-nav-title  class=" item-input-inset" style="padding: 0px;padding-top: 7px;width:120%;position: relative;left: -20%;">
          <form class="item-input-wrapper" style="height: 31px;">
            <i class="icon ion-ios-search-strong placeholder-icon"></i>
            <input type="search"  jfocus style="width:100%" class="input-color-usercolse" ng-model="msg.key"     ng-keyup="myKeyup($event)"   class="cutom-inputfocus"       placeholder="寻找你要的商品">
            <div   ng-click="clear()"   ng-if='msg.key.length'  class="ion-close-circled ion-close-user" style="     margin-top: 0px;
    right: 5px;"></div>

          </form>
        </ion-nav-title>
      </ion-nav-bar>
      <ion-content>

      </ion-content>
    </ion-modal-view>
  </script>




</ion-view>





