<ion-view view-title="">
  <ion-nav-bar   class="bar-positive ">
    <ion-nav-buttons side="left">
      <a   nav-direction="back"  href="/#/r/tab/Home"  class="button button-icon ion-ios-arrow-left">
       采购记录
      </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a   nav-direction="back"   class="button button-icon  ion-ios-search-strong ">

      </a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content  style="background: #F7F7F7;overflow: hidden;"  overflow-scroll="true"  scroll="false"  >





  </ion-content>
</ion-view>





