<ion-view  hide-tabs="true"  view-title="销售订单">


  <ion-nav-buttons side="left"    class="button back-button buttons button-clear header-item">
    <div class="button back-button buttons button-clear header-item"   ng-click="backtoprevView('r.HomSales')">
      <i class="icon ion-ios-arrow-left" style="float:left;margin-right:5px;"></i>
      <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"><span class="default-title hide" style='display:none' >Back</span><span class="previous-title">{{parenttitle}}</span></span>
    </div>
  </ion-nav-buttons>


    <ion-nav-buttons side="right">
      <a   nav-direction="back"  href=""  class="button button-icon ion-ios-search-strong ">

      </a>
    </ion-nav-buttons>


  <ion-content  style="background: #F7F7F7;overflow: hidden;" overflow-scroll="false"  scrollbar-y="false"    >

    <div class="coutms" >
      <div  ng-class="{'active':all}"   ng-click="alls()"    >全&nbsp;部</div>
      <div  ng-class="{'active':dfk}"   ng-click="dfks()"   >待发货</div>
      <div  ng-class="{'active':dfc}"   ng-click="dfcs()"   >待收货</div>
      <div  ng-class="{'active':dfh}"   ng-click="dfns()" >已完成</div>
    </div>


    <ion-scroll  delegate-handle="list"
                 lazy-scroll
                 overflow-scroll="false"
                 scrollbar-y="false"
                 style="width: 100%;
                     overflow:hidden
                     "
                 ng-style="caklateheight"  >
      <ion-refresher spinner="ios"  pulling-text="刷新" on-refresh="loadOlderStories(true)"   ></ion-refresher>


      <!--////显示的那个 tab  自己控制-->
<div >
    <div class="ordersList-one" ng-repeat="item in SalesList">

     <div class="sales-name" >
       <div style="float: left">{{item.buyer_nick}}</div>
       <div ng-switch="{{item.orderDetail[0].post_status}}">
         <div style="float: right"ng-switch-when="1" >已付款</div>
         <div style="float: right" ng-switch-when="2">已发货</div>
         <div style="float: right" ng-switch-when="3">已收货</div>
         <div style="float: right" ng-switch-when="4">交易完成</div>
         <div style="float: right" ng-switch-when="5">已退货</div>
       </div>
     </div>

      <div class="row" style="height: 20px;   " >
        <div  class="col" style="width: 100px">
          <img src="{{item.pic_path}}"  style="width: 95%;
    height: 80px;">

        </div>

        <div class="col col-60">
          <span class="news-yiyu">{{item.goods_name}}</span>
          <span class="yiyutwoONE">{{item.goods_property}}</span>

        </div>
      </div>




        <div class="list " style="margin-top: 4rem;"   >

          <a class="item item-icon-right item-input-left  " style="height: 30px;padding: 6px" >

            <div >
<P style="font-size: 13px;
    color: black;">
              共计{{item.total_num}}件商品 &nbsp;合计:{{item.total_fee}}
</P>
            </div>

          </a>
          <a class="item item-icon-right item-input-left"  style="height: 30px;padding: 6px">

            <div>
<p style="font-size: 13px;
    color: black;">
              订单编号:  {{item.order_basic_id}}
</p>
            </div>

          </a>

          <a class="item item-icon-right item-input-left"  style="height: 50px;padding: 6px">

            <div style="float: right;padding: 2px"  >
              <button  ng-click="dataRight(item.order_basic_id)"  ng-if="item.post_status==2"  class="button button-small button-stabl"  style="width: 60px; border: 1px solid #33cd5f;"><p style="color:#28a54c;font-size: 10px">物流详情</p></button>

              <button  ng-click="dataLeft(item.order_basic_id,item.total_num,$index)"  ng-if="item.post_status==1"  class="button button-small button-stabl"  style="width: 60px; border: 1px solid #33cd5f;"><p style="color:#28a54c">发&nbsp;货</p></button>

              <button  ng-click="ordersbody(item.order_basic_id)" class="button button-small button-stabl"  style="width: 60px; border: 1px solid orange;">详&nbsp;情</button>
            </div>

          </a>


        </div>


        <div style="height: 1px"></div>
    </div>
      </div>





      <ion-infinite-scroll  ng-if="expression" style="height: 20px;line-height: 40px;margin-bottom:20px;text-align: center" spinner="dots" on-infinite="loadOlderStories()"  distance="1%"  > </ion-infinite-scroll>
      <div ng-if="!expression" style="line-height: 90px;margin-bottom:40px;text-align: center;color:#999" >没有更多了!</div>

    </ion-scroll>



  </ion-content>

  <script id="templates/newModal.html" type="text/ng-template">
    <ion-modal-view>

      <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-primary"  ng-click="queryTwo()"  style="color: #333"><i class="icon ion-ios-arrow-left"></i></button>
        <h1 class="title">选择发货物流</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()" style="color: #333"></button>
      </ion-header-bar>

      <ion-content>

        <div class="list " style="    " >

          <div class="list" style="overflow: visible;z-index: 999;padding:0px;">
            <div class="item item-input" style="border: none"  ng-click="deliveryList()">
              <span class="input-label">物流  </span>
              <input type="text"   style="background:transparent"  disabled="disabled"  maxlength="150"  ng-model="data.clientSide.logistics_company_name"  placeholder="请选择物流" >
            </div>

            <div class="item item-input"   >
                <span     class="input-label">单号 <span style="color: #fff"> *</span>
                </span>

              <i    ng-click="Barcode()"     class="extends" style="
                margin-left: 4px;
                color: #616161;
                font-size: 25px;
                position: absolute;
                right: 0px;
                background: #fff;
                display: inline-block;
                height: 100%;
                line-height: 44px;
                padding-right: 20px;
                padding-left: 16px;
                top: 0px;
                border-left: 1px solid #ddd;
                ">&#xe62e;</i>
              <input type="text"   ng-model="goods.barcode"
                     style="padding-right:40px;"
                     placeholder="请输入单号">
            </div>


          </div>

          <div>
            <button class="button button-energized" style="width: 80%;
    text-align: -webkit-center;
    float: left;
    margin-left: 10%;" ng-click="deliveryNew()">确认发货</button>
          </div>




        </div>


      </ion-content>
    </ion-modal-view>
  </script>




  <script id="templates/modal.html" type="text/ng-template">
    <ion-modal-view>

      <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-primary"  ng-click="newQuery()"  style="color: #333"><i class="icon ion-ios-arrow-left"></i></button>
        <h1 class="title">物流快递</h1>
        <button class="button button-clear button-primary" ng-click="query()" style="color: #333">保存</button>
      </ion-header-bar>

      <ion-content>

        <div class="list" style="overflow: visible;z-index: 999;padding:0px;">
          <div class="item item-input" style="border: 1px solid whitesmoke;"  ng-click="newdeliveryList()">
            <span class="input-label" style="  border-right: 1px solid #a2a2a2;">物流公司 </span>
            <input type="text" ng-keyup="myKeyup($event)"   style="background:transparent;margin-left: 5px;"  maxlength="150"  ng-model="data.companyname"  placeholder="请输入物流公司名称" >
          </div>

          <ion-scroll  delegate-handle="list"
                       lazy-scroll
                       overflow-scroll="false"
                       scrollbar-y="false"
                       style="width: 100%;
                     overflow:hidden
                     "
                       ng-style="caklateheightList"  >
            <ion-refresher spinner="ios"  pulling-text="刷新" on-refresh="loadOlderStoriesList(true)"   ></ion-refresher>

          <ion-radio  ng-repeat="item in selectList"
                      ng-value="item"
                      ng-model="data.clientSide">
            {{ item.logistics_company_name}}
          </ion-radio>

            <ion-infinite-scroll  ng-if="expressionList" style="height: 20px;line-height: 40px;margin-bottom:20px;text-align: center" spinner="dots" on-infinite="loadOlderStoriesList()"  distance="1%"  > </ion-infinite-scroll>
            <div ng-if="!expressionList" style="line-height: 90px;margin-bottom:40px;text-align: center;color:#999" >没有更多了!</div>
        </div>



      </ion-content>
    </ion-modal-view>
  </script>


</ion-view>


