<ion-view  hide-tabs="true"  view-title="销售订单">


    <ion-nav-buttons side="right">
      <a   nav-direction="back"  href=""  class="button button-icon ion-ios-search-strong ">

      </a>
    </ion-nav-buttons>


  <ion-content  style="background: #F7F7F7;overflow: hidden;" overflow-scroll="false"  scrollbar-y="false"    >

    <div class="coutms" >
      <div  ng-class="{'active':all}"   ng-click="alls()"    >全&nbsp;部</div>
      <div  ng-class="{'active':dfk}"   ng-click="dfks()"   >待发货</div>
      <div  ng-class="{'active':dfc}"   ng-click="dfcs()"   >待收货</div>
      <div  ng-class="{'active':dfh}"   ng-click="dfns()" >已完成</div>
    </div>


    <ion-scroll  delegate-handle="list"
                lazy-scroll
                overflow-scroll="false"
                scrollbar-y="false"
                style="width: 100%;
                     overflow:hidden
                     "
                ng-style="caklateheight"   >

      <ion-refresher pulling-text="刷新" on-refresh="calssifloadMore(true)"   ></ion-refresher>


      <!--////显示的那个 tab  自己控制-->
<div >
    <div class="ordersList-one" ng-repeat="item in SalesList">

     <div class="sales-name" >
       <div style="float: left">{{item.buyer_nick}}</div>
       <div ng-switch="{{item.orderDetail[0].post_status}}">
         <div style="float: right"ng-switch-when="1" >已付款</div>
         <div style="float: right" ng-switch-when="2">已发货</div>
         <div style="float: right" ng-switch-when="3">已收货</div>
         <div style="float: right" ng-switch-when="4">交易完成</div>
         <div style="float: right" ng-switch-when="5">已退货</div>
       </div>
     </div>

      <div  >
        <div  style="float: left">
          <img style="width: 100px;padding-left: 10px;margin-top: 5px" src="./img/classif/macair.png">
        </div>
        <div class="msg">
          <p >{{item.shop_name}}</p>
          <p>规格：标配</p>
        </div>
      </div>

        <div class="list " style="margin-top: 4rem;"   >

          <a class="item item-icon-right item-input-left  " style="height: 30px;padding: 6px" >

            <div ng-repeat="xxx in item.orderDetail">
<P style="font-size: 6px;
    color: black;">
              共计{{xxx.goods_num }}件商品 &nbsp;合计:{{xxx.total_fee}}
</P>
            </div>

          </a>
          <a class="item item-icon-right item-input-left"  style="height: 30px;padding: 6px">

            <div>
<p style="font-size: 6px;
    color: black;">
              订单编号:  {{item.order_basic_id}}
</p>
            </div>

          </a>

          <a class="item item-icon-right item-input-left"  style="height: 50px;padding: 6px">

            <div style="float: right;padding: 2px"  >
              <button  ng-click="ordersbody(item.orderDetail[0].order_basic_id)" class="button button-small button-stabl"  style="width: 60px; border: 1px solid orange;">详&nbsp;情</button>
            </div>

          </a>


        </div>


        <div style="height: 1px"></div>
    </div>
      </div>




      <ion-infinite-scroll  ng-if="expression" style="height: 100px;line-height: 40px;margin-bottom:100px;text-align: center" spinner="dots" on-infinite="loadOlderStories()"  distance="1%"  > </ion-infinite-scroll>
      <div ng-if="newexpression" style="line-height: 90px;margin-bottom:40px;text-align: center;color:#999" >没有更多了!</div>

    </ion-scroll>



  </ion-content>
</ion-view>



