<ion-view view-title="">
  <ion-nav-bar   class="bar-positive ">
    <ion-nav-buttons side="left">
      <a   nav-direction="back" ng-click="backlistrotop()" class="button button-icon ion-ios-arrow-left">
        修改店铺简介
      </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right" >
      <a   nav-direction="back"   class="button button-icon " ng-click="querybriefing()">
        保存
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content  style="background: #F7F7F7;overflow: hidden;"  overflow-scroll="true"  scroll="false"  >
    <div class="list " >



      <a class="item item-icon-left item-input-left" >


          <textarea style="height: 2rem;width: 15rem" placeholder="设置店铺简介" ng-model="shop.Name" >
          </textarea>




      </a>



    </div>



  </ion-content>
</ion-view>







