<ion-view view-title="店铺管理">

    <ion-nav-buttons side="left"    class="button back-button buttons button-clear header-item">
    <div class="button back-button buttons button-clear header-item"   ng-click="backtoprevView('r.HomShopadmin')">
      <i class="icon ion-ios-arrow-left" style="float:left;margin-right:5px;"></i>
      <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"><span class="default-title hide" style='display:none' >Back</span><span class="previous-title">{{parenttitle}}</span></span>
    </div>
  </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <a  ng-click="shophome()"  class="button button-icon  ">
        查看店铺
      </a>
    </ion-nav-buttons>

  <ion-content  style="background: #F7F7F7;overflow: hidden;"  overflow-scroll="true"  scroll="false"  >



    <div class="list " style="margin-top: 1rem" >


      <a class="item item-icon-right item-input-left"   ng-click="shopName()"  >
        <div style="    color: #343434;">
          店铺名称
          <span style="float: right;font-size: 15px;color: #444">{{shopadmindata.basic_info.shop_name}}</span>

          <div class="ion-close-sex"></div>
             <span class="select-chongzhi">
     <i id="icon-right" class="icon ion-ios-arrow-right"></i>
    </span>
        </div>
      </a>

      <a class="item item-icon-right item-input-left"    ng-click="shopBrief()"  >
        <div style="    color: #343434;">
          店铺简介
          <span style="float: right;font-size: 15px;color: #444;text-overflow: ellipsis;max-width: 65%;overflow: hidden;display: inline-block;">{{shopadmindata.basic_info.description}}</span>
          <div class=" ion-close-sex"></div>
               <span class="select-chongzhi">
     <i id="icon-right" class="icon ion-ios-arrow-right"></i>
    </span>
        </div>
      </a>


      <a class="item item-icon-right item-input-left" style="    height: 100px;
          line-height: 67px;
      ">

        <div     ng-click="selectpir()" class="pushgoodphost" style="    color: #343434;" >
          店铺头像
          <img ng-src="{{shopadmindata.basic_info.img_shop}}" style="float: right;
          width: 70px;
            height: 70px;
          ">

          <div class=" ion-close-sex"></div>
               <span class="select-chongzhi">
     <i id="icon-right" class="icon ion-ios-arrow-right"></i>
    </span>
        </div>
        <span style="display:block;clear:both"></span>


      </a>



      <a class="item item-icon-right item-input-left"   ng-click="shopNumber()"  >
        <div style="    color: #343434;">
          联系方式
          <span style="float: right;font-size: 15px;color: #444">{{shopadmindata.basic_info.shop_phone}}</span>

          <div class="ion-close-sex"></div>
             <span class="select-chongzhi">
     <i id="icon-right" class="icon ion-ios-arrow-right"></i>
    </span>
        </div>
      </a>

      <a class="item item-icon-right item-input-left"    ng-click="shopAddress()"  >
        <div style="    color: #343434;">
          联系地址
          <span style="float: right;font-size: 15px;color: #444;text-overflow: ellipsis;max-width: 65%;overflow: hidden;display: inline-block;">{{addrs.province}}{{addrs.city}}{{addrs.region}}{{addrs.detailmsg}}</span>
          <div class=" ion-close-sex"></div>
               <span class="select-chongzhi">
     <i id="icon-right" class="icon ion-ios-arrow-right"></i>
    </span>
        </div>
      </a>


    </div>




  </ion-content>
</ion-view>




