<ion-view  hide-tabs="true" view-title="体验专区">



  <ion-nav-buttons    side="left"         class="button back-button buttons button-clear header-item">
    <div     class="button back-button buttons button-clear header-item"   ng-click="backtoprevView('r.HomTaste')">
      <i class="icon ion-ios-arrow-left" style="float:left;margin-right:5px;"></i>
      <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"><span class="default-title hide" style='display:none' >Back</span><span class="previous-title"
                                                                                                                                                     style="display: block;"
      >{{parenttitle}}</span></span>
    </div>

  </ion-nav-buttons>


    <ion-nav-buttons side="right">
      <a   nav-direction="back"  href=""  class="button button-icon ">

      </a>
    </ion-nav-buttons>


  <ion-content style="background-color: whitesmoke" >

    <ion-scroll  delegate-handle="list"
                 lazy-scroll
                 overflow-scroll="false"
                 scrollbar-y="false"
                 style="width: 100%;
                     overflow:hidden
                     "
                 ng-style="caklateheight"   >
    <ion-slide-box    ng-if='guankao'  class='homeSlidebox' auto-play='true'  >
      <ion-slide   ng-repeat="ss   in  guankao"   ng-click="gogunal(ss)"   >
        <img ng-src="{{ss.qiniu_key}}" alt="">
      </ion-slide>
    </ion-slide-box>

    <div class=" taste-names">体验商品</div>
    <div class=" row"><hr class="taste-hengxian"/></div>




     <!-- <ion-refresher spinner="ios"  pulling-text="刷新" on-refresh="loadOlderStories(true)"   ></ion-refresher>-->


      <div class="shopgoodslit"  style="    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.03)"   ng-repeat="item in ShoppingList"    ng-click="newDetail(item)"  >
        <img image-lazy-src="{{item.img_url}}" alt="" image-lazy-distance-from-bottom-to-load="10"     >
        <p style="height:40px;padding:0px 4px;">{{item.goods_title}}</p>
        <p><span style="color:#f16902">￥{{item.total_in_price}}</span></p>
      </div>

      <ion-infinite-scroll  ng-if="expression" style="height: 20px;line-height: 40px;margin-bottom:20px;text-align: center" spinner="dots" on-infinite="loadOlderStories()"  distance="1%"  > </ion-infinite-scroll>
      <div ng-if="!expression" style="line-height: 90px;margin-bottom:40px;text-align: center;color:#999" >没有更多了!</div>

    </ion-scroll>

  </ion-content>
</ion-view>



