<ion-view  hide-tabs="true" view-title="体验专区">


    <ion-nav-buttons side="right">
      <a   nav-direction="back"  href=""  class="button button-icon ">

      </a>
    </ion-nav-buttons>


  <ion-content style="background-color: whitesmoke" >

    <div>
      <img  ng-src="{{'http://oap3nxgde.bkt.clouddn.com/ad_index_3.jpg?imageView2/1/w/828/h/362'}}"alt="">
    </div>

    <div class=" taste-names">推荐商品</div>
    <div class=" row"><hr class="taste-hengxian"/></div>


    <div id="class-boder" class="classlist" >
      <div class=" charitable-list " >
        <div class="charitable-one" ng-repeat="item in Taste" >
          <img src={{ss}} alt="">
          <div style="margin-top: 15px">{{item.goods_title}}</div>
          <div class="classif-price">￥{{item.total_in_price}} <span class="classif-priceone">￥19999</span></div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>



