<ion-view view-title="体验专区">
  <ion-nav-bar   class="bar-positive ">
    <ion-nav-buttons side="left">
      <a   nav-direction="back"  href="/#/r/tab/Home"  class="button button-icon ion-ios-arrow-left">

      </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a   nav-direction="back"  href=""  class="button button-icon ">

      </a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content style="background-color: whitesmoke" >

    <div>
      <img src="/img/classif/banner@3x.png" alt="">
    </div>

    <div class="taste-names">推荐商品</div>
    <hr class="taste-hengxian"/>


  </ion-content>
</ion-view>



