
.login-header-imgbox{
  height: 10rem;
  position: relative;
  .goin.imgbox{
    transform: translateY(4rem);
    -webkit-transform: translateY(4rem);
    opacity: 1;
  }
  .imgbox{
    transition:  all 500ms;
    -webkit-transition:  all 500ms;
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    margin-left:-50px;
  }
}


.loginbutton{
  transition: all  1000ms;
  -webkit-transition: all  1000ms;
}
.loginbutton.hidenlo{
  opacity: 0;
  -webkit-transform: translateY(350px);
}

.loginbox.hidenlo{
  opacity: 0;
}
.loginbox{
  transition: all  200ms;
  -webkit-transition: all  200ms;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #f7f7f7;
      input{
        background:transparent;
        width: 100%;
        border:none;
        padding: 0px;
        padding-left: 5%;
        margin: 0px;
        height: 2rem;
      }
      input[type='text']{
        border-bottom:1px solid #ddd;
      }
}
.block-botton{
  width: 80% !important;
  margin-left: 10%;
  background-color:#feeb0b !important;
  color: #333333 !important;
  font-size:16px !important;
  letter-spacing: 2px !important;
}
