<ion-view view-title="请输入公司ID"  >


  <ion-nav-buttons side="right"    class="button back-button buttons button-clear header-item">
    <div class="button back-button buttons button-clear header-item"   ng-click="next()"    >
      <span class="previous-title"     >下一步</span></span>

    </div>
  </ion-nav-buttons>
  <ion-content  scrollbar-y="false"  overflow-scroll="false"   style="background: #f2f2f2"  >
    <div class="list " style="    " >


      <div style="background: #fff;
    margin-top: .6rem;">
        <div>

          <div >
            <input type="text"  ng-model="shopID"  ng-change="newshopname(shopID)"  style=" margin-left: 10px;width: 100%"    placeholder="请输入公司ID">
          </div>
        </div>


      </div>





    </div>


  </ion-content>



</ion-view>

