<ion-view view-title="找回密码"  >



  <ion-nav-buttons side="right"    class="button back-button buttons button-clear header-item">
    <div class="button back-button buttons button-clear header-item"      >
      <span class="previous-title"     ></span></span>

    </div>
  </ion-nav-buttons>
  <ion-content  scrollbar-y="false"  overflow-scroll="false"   style="background: #f2f2f2"  >



    <div class="registerlist">
      <div>
        <div class="lable">手机号码</div>
        <div class="input">
          <input type="text"   ng-model="registbasinfo.phone"      placeholder="请输入手机号码">
        </div>
      </div>

      <div>
        <div class="lable">验证码</div>
        <div class="input rgma">
          <input type="number" ng-model="registbasinfo.Vercode"  placeholder="请输入验证码">

          <button   ng-click="GetverCode()" >

            <span  ng-if="!vercodeing" >获取验证码</span>
            <span style="color: #7d7d7d"  ng-if="vercodeing" >验证码{{nextvercode}}秒</span>

          </button>



        </div>
      </div>



    </div>
    <div class="registerlist">
      <div>
        <div class="lable">密码</div>
        <div class="input">
          <input type="password"  ng-model="password.Original"  placeholder="请输入新密码">
        </div>
      </div>


      <div>
        <div class="lable">确认密码</div>
        <div class="input">
          <input type="password"  ng-model="password.Repeat"  placeholder="请再次输入新密码">
        </div>
      </div>
    </div>

    <button    ng-click="next()"   class="  loginbutton button button-block button-positive block-botton"
               style="margin-top:.4rem"
    >完成</button>

  </ion-content>




</ion-view>



