<ion-view view-title="确认密码"  >



    <ion-nav-buttons side="right" >
      <a   nav-direction="forward"   ng-click="next()"  class="button button-icon  ">
       下一步
      </a>
    </ion-nav-buttons>



    <ion-content  scrollbar-y="false"  overflow-scroll="false"   style="background: #f2f2f2">




      <div class="registerlist">
        <div>
          <div class="lable">密码</div>
          <div class="input">
            <input type="password"  ng-model="password.Original"  placeholder="请输入账号密码">
          </div>
        </div>


        <div>
          <div class="lable">确认密码</div>
          <div class="input">
            <input type="password"  ng-model="password.Repeat"  placeholder="确认密码">
          </div>
        </div>
      </div>





    </ion-content>
</ion-view>
