<ion-view  hide-back-button="true"  view-title="分类" >

  <ion-nav-bar   class="bar-positive ">

  </ion-nav-bar>


  <ion-content style="background: white;overflow: hidden;" overflow-scroll="true"  scroll="false"  >



    <ion-scroll direction="x" style="overflow-x:hidden;" scrollbar-x="false" >
      <div  class=" row class-every" >
        <div class="col" ng-click="shoppingsList(item)" ng-repeat="item in Citysd ">
          <div class="col-30 bottom-xian " ng-class="{true:'yellowC',false:'yellowA'}[item==selectedItem]" ><nobr>{{ item.itemcats_name }}</nobr></div>
        </div>
      </div>
    </ion-scroll>



    <ion-scroll  style="height: 340px;overflow-y:hidden;"   scrollbar-y="false"   >

<div>
  <img src="/img/classif/banner@3x.png" alt="">
</div>
      <ion-refresher pulling-text="刷新" on-refresh="calssifloadMore(true)"   ></ion-refresher>
    <div id="class-boder" class="classlist" >
      <div class=" classif-list " >
        <div class="classif-one" ng-repeat="item in ShoppingList" ng-click="proDetail(item.goods_basic_id)">
          <img src="/img/classif/macair.png" alt="">
          <div>{{item.goods_title}}</div>
          <div class="classif-price">￥{{item.total_in_price}} <span class="classif-priceone">￥19999</span></div>
        </div>
      </div>

    </div>

    <ion-infinite-scroll  ng-if="expression" on-infinite="loadOlderStories()"  distance="1%"  style="height: 60px;line-height: 60px;margin-bottom:40px;text-align: center" > </ion-infinite-scroll>
      <!--<div ng-if="!expression" style="height: 90px;line-height: 90px;margin-bottom:40px;text-align: center;color:#999" >没有更多了!</div>
-->
    </ion-scroll>

  </ion-content>
</ion-view>
