<ion-view  hide-back-button="true"  view-title="分类" >

  <ion-nav-bar   class="bar-positive ">

  </ion-nav-bar>


  <ion-content style="background: white;overflow: hidden;"overflow-scroll="false"  scrollbar-y="false"  >



    <ion-scroll direction="x" style="overflow-x:hidden;" scrollbar-x="false" ng-style="newcaklateheight" >
      <div  class=" row class-every" >
        <div class="col" ng-click="shoppingsList(item)" ng-repeat="item in Citysddd ">
          <div class="col-30 bottom-xian " ng-class="{true:'yellowC',false:'yellowA'}[item==selectedItem]" ><nobr>{{ item.itemcats_name }}</nobr></div>
        </div>
      </div>
    </ion-scroll>

    <div>
      <img src={{Citysd.qiniu_key}} alt="" style="    width: 100%;
    height: 145px;">
    </div>

    <ion-scroll  delegate-handle="list"
                lazy-scroll
                overflow-scroll="false"
                scrollbar-y="false"
                style="width: 100%;
                     overflow:hidden
                     "
                ng-style="caklateheight"   >

      <ion-refresher spinner="ios"  pulling-text="刷新" on-refresh="loadOlderStories(true)"   ></ion-refresher>
    <div id="class-boder" class="classlist" >
      <div class=" classif-list " >
        <div class="classif-one" ng-repeat="item in ShoppingList" ng-click="proDetail('r.ClassifDetails',item.goods_basic_id)">
          <img image-lazy-src="{{item.img_url}}" alt="" image-lazy-distance-from-bottom-to-load="100" style="margin-top: 5px;">

          <div>{{item.goods_title}}</div>
          <div class="classif-price">￥{{item.total_in_price}} <span class="classif-priceone"></span></div>
        </div>
      </div>

    </div>

      <ion-infinite-scroll  ng-if="expression" style="height: 20px;line-height: 40px;margin-bottom:20px;text-align: center" spinner="dots" on-infinite="loadOlderStories()"  distance="1%"  > </ion-infinite-scroll>
      <div ng-if="!expression" style="line-height: 90px;margin-bottom:40px;text-align: center;color:#999" >没有更多了!</div>

    </ion-scroll>

  </ion-content>

</ion-view>
