<ion-view view-title="用户咨询" >




  <ion-content  style="background: #F7F7F7;overflow: hidden;"  overflow-scroll="true"  scroll="false"  >

    <div class="list">


      <label class="item item-input"  style="background-color: whitesmoke;
    font-size: 13px;
    color: #a2a2a2;
    height: 2rem;" >
        <span>商家电话</span>
      </label>

      <div class="item item-input" style="border-top: none;border-top: 1px solid #ccc;height: 2.5rem" >
        <div class="row" ng-if="item.link">
          <div class="col col-80"><span style=" margin-left: -10px;">{{item.link}}</span></div>
          <div ng-click="callPhone(item.link)">
              <img  src="./img/classif/icom_iphone@3X.png" style="     width: 30px;
    border-left: 1px solid rgb(162, 162, 162);
    float: right;
    padding: 5px;
    margin-left: 40px">
          </div>
        </div>
<div ng-if="!item.link">
        <span  style="font-size: 15px;">商家暂无联系方式</span>

</div>
      </div>
      <label class="item item-input"  style="background-color: whitesmoke;
    font-size: 13px;
    color: #a2a2a2;
    height: 2rem;" >
        <span >客服热线</span>
      </label>

      <div class="item item-input" style="border-top: none;border-top: 1px solid #ccc;height: 2.5rem" >
           <div class="row" ng-if="item.sys_tel">
             <div class="col col-80"><span style=" margin-left: -10px;">{{item.sys_tel}}</span></div>
             <div ng-click="newcallPhone(item.sys_tel)">

               <img  src="./img/classif/icom_iphone@3X.png" style="     width: 30px;
    border-left: 1px solid rgb(162, 162, 162);
    float: right;
    padding: 5px;
    margin-left: 40px">

             </div>



           </div>

        <div ng-if="!item.sys_tel">
        <span style="font-size: 15px;" >客服暂无联系方式</span>

        </div>
      </div>


      <label class="item item-input"  style="background-color: whitesmoke;
    font-size: 13px;
    color: #a2a2a2;
    height: 2rem;" >
        <span>商家地址</span>
      </label>

      <div  style="border-top: 1px solid #ccc;
    height: 5.5rem;
    background-color: white;
    padding-left: 15px;
    padding-right: 10px;" >
        <div  ng-if="item.addr" style="font-size: 15px">
            {{item.addr}}
        </div>
<span ng-if="!item.addr">
            商家暂无地址
          </span>

      </div>
     <div style="    text-align: -webkit-center;
    margin-top: 10%;" ng-click="goMshop()">
       <button type="button"  style="padding: .3rem 1.4rem;
    border-radius: 4px;
    border: none;
    background: #feeb0b;
    color: #6b3801;">更多门店信息</button>

     </div>


    </div>









  </ion-content>

</ion-view>








