<ion-view  hide-back-button="true"  view-title="确认订单"   >
  <ion-nav-bar   class="bar-positive ">
    <ion-nav-buttons side="left">
      <a   nav-direction="back"  href="/#/r/tab/Classif"  class="button button-icon ion-ios-arrow-left">

      </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a   nav-direction="back"  href=""  class="button button-icon ">

      </a>
    </ion-nav-buttons>
  </ion-nav-bar>
<ion-content scrollbar-y="false" style="background-color: #f3f3f3">
  <div class="order-name">

    <div class="order-name1">收货人:XXX</div>
    <div class="order-name2">13811112222</div>
    <div class="order-name3 ">收货地址</div>
    <img src="../img/classif/right.png" class="order-name4">
  </div>

  <div class="list " style="margin-top: 1rem" >



    <a class="item item-icon-left item-input-left" style="    height: 5rem;">

      <div>
        <img src="/img/classif/macair.png" style="width: 5rem">
        <div class=" ion-close-sex"></div>
      </div>

    </a>
    <a class="item item-icon-left item-input-left" >

      <div>

       配送方式 免邮
        <div class="ion-close-sex"></div>
      </div>

    </a>
    <a class="item item-icon-left item-input-left" >

      <div>

        买家留言：<input class="input-color-usercolse">
        <div class=" ion-close-sex"></div>
      </div>

    </a>


  </div>


  <div class="row classif-topborder ">
    <div class="col col-60 " ><div style="font-size: 15px;color: orange;padding: 10px;margin-right: 90px">合计：150</div></div>
    <div class="col classif-topborder3"><div style="font-size: 15px;color: white;padding: 10px">确认</div></div>
  </div>

</ion-content>

</ion-view>



