<ion-view  hide-tabs="true"   view-title="确认订单"   >



    <ion-nav-buttons side="right">
      <a   nav-direction="back"  href=""  class="button button-icon ">
      </a>
    </ion-nav-buttons>

<ion-content scrollbar-y="false" style="background-color: #f3f3f3"  >
  <div class="order-name"  ng-click="addressmodal.show()">
    <div class="order-name1">收货人:{{addressListone.link_man}}</div>
    <div class="order-name2">手机号：{{addressListone.link_phone}}</div>
    <div class="order-name3 " style="text-overflow: ellipsis;max-width: 75%;">收货地址: {{addressListone.province}}{{addressListone.city}}{{addressListone.region}}{{addressListone.street}}</div>
    <img src="./img/classif/right.png" class="order-name4">
  </div>

  <div class="list " style="margin-top: 1rem" >

    <a class="item item-icon-left item-input-left" style="    height: 7rem;" ng-repeat="item in ClassifDetailsList">


      <div >

        <img src={{item.shop_img}} style="width: 3rem">
        <div class=" ion-close-sex"></div>
          <span style="float: right;font-size: 15px;margin-right: 7rem;margin-top: 0.2rem">
                {{item.goods.goods_title}}</span>
        <div style="    color: #a2a2a2;

    float: right;
    font-size: 13px;
    margin-right: 5.5rem;"> <span>规格：标配</span></div>
      <div style="font-size: 13px;color: orange;">￥ {{item.goods.total_in_price }}</div>
      <div style="font-size: 8px;">运费：{{item.goods.express_fee}}</div>
      <div style="    float: right;
    margin-top: -1rem;">X{{item.goods.total_in_number}}</div>

      </div>
    </a>

    <a class="item item-icon-left item-input-left" >

      <div>

       <input style="width: 100%" placeholder="请填写你和卖家达成的一致要求，或留言">
        <div class=" ion-close-sex"></div>
      </div>

    </a>

  </div>

</ion-content>
  <ion-footer-bar align-title="center"        style="background:#fff;padding-right:0px;" >

    <div style="
    width: 76%;
    line-height: 34px;;
    font-size:14px;;
    color: #FF9517;
    " >合计：{{item.goods.express_fee}}</div>
    <div


      ng-click="orderquery()"
      style="
        width: 24%;
    line-height: 44px;
    background: #FF9517;
    height: 44px;
    position: absolute;
    top: 0px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    "  >
      确定
    </div>


  </ion-footer-bar>

  <script id="templates/addressmodal.html" type="text/ng-template" >
    <ion-modal-view class="product-model">
      <ion-content class="padding"  >


        <div class="list list-chongzhi" >


          <a class="item item-icon-right item-one-left" style="    text-align: -webkit-center;
    height: 50px;
    margin-top: -30px;" >

           请选择收货地址


          </a>


          <ion-scroll    style="overflow-y:hidden;"  scrollbar-y="false" class="addressmodel"    >
          <div>

          <ion-radio  ng-repeat="item in addressList" ng-value="item.is_default" ng-model="data.clientSide"  ng-click="gainAdress(item.addr_id)">
            <span class="address-name ">{{item.link_man}}</span> <span class="address-number">{{item.link_phone}}</span><br/><span class="address">{{item.province}}{{item.city}}{{item.region}}{{item.street}} </span>

          </ion-radio>

          <a class="item  item-icon-right item-one-left ion-ios-plus-outline"  ng-click="addArddss()">

             新增地址
           <span class="select-chongzhi">
     <i id="icon-right" class="icon ion-ios-arrow-right"></i>
    </span>

          </a>



          </div>
          </ion-scroll>
        </div>


      </ion-content>

    </ion-modal-view>
  </script>


  <script id="templates/AddresModal.html" type="text/ng-template" >
    <ion-modal-view class="address-model">
      <ion-content class="padding"  >


        <div class="list list-chongzhi" >


          <a class="item item-icon-right item-one-left" style="    text-align: -webkit-center;
    height: 50px;
    margin-top: -30px;" >

            收货地址


          </a>

          <a class="item item-icon-right item-one-left">
            <!-- href=" /#/r/tab/Settings/address/add/select"-->
            <!--<span class="address-name">请选择省市区</span>-->
            <input placeholder="请选择省市区" class="input-color-usercolse">
         <span class="select-chongzhi">
     <i id="icon-right" class="icon ion-ios-arrow-right"></i>
    </span>

          </a>

          <a class="item  item-icon-right item-one-left" >
            <span class="address-name"><input ng-model="newaddress" ng-change="Addaddress(newaddress)" placeholder="请输入详细地址" class="input-color-usercolse"></span>   <span class="select-chongzhi">

    </span>

          </a>
          <a class="item  item-icon-right item-one-left" >
            <span class="address-name"><input ng-model="name"  ng-change="newname(name)" placeholder="请输入收货人姓名" class="input-color-usercolse"></span>   <span class="select-chongzhi">

    </span>

          </a>
          <a class="item  item-icon-right item-one-left" >
            <span class="address-name"><input ng-model="number" ng-change="newnumber(number)" placeholder="请输入收货人联系电话" class="input-color-usercolse"></span>   <span class="select-chongzhi">

    </span>

          </a>
          <a class="item  item-icon-right item-one-left" >
            <span class="address-name"><input ng-model="email" ng-change="newemail(email)" placeholder="请输入邮编" class="input-color-usercolse"></span>   <span class="select-chongzhi">

    </span>

          </a>

          <a>
            <span class="address-name"><ion-toggle  ng-model="pushNotification.checked" ng-change="pushNotificationChange()">设为默认地址</ion-toggle></span>

          </a>




        </div>

      </ion-content>

    </ion-modal-view>
  </script>



</ion-view>



