<ion-view  hide-back-button="true"  view-title="分类" >

  <ion-content      scrollbar-y="false"   style="background:rgb(245, 245, 245)"     >

      <div   ng-if='guankao'  >

        <ion-slide-box    ng-if='guankao'  class='homeSlidebox' auto-play='true'   >
          <ion-slide   ng-repeat="ss   in  guankao"   ng-click="gogunal(ss)"   >
            <img ng-src="{{ss.qiniu_key}}" alt="">
          </ion-slide>
        </ion-slide-box>

      </div>

    <div class="newHomebox">
      <div class="row" >
        <div class="col " ng-click="newclass(1,'易物超市')" >
          <img src="./img/newclass/cailanzi@3x.png" alt="">
          <p>易物超市</p>
        </div>


        <div class="col "   ng-click="newclass(7,'缤纷美食')" >
          <img src="./img/newclass/food-10@3x.png" alt="">
          <p>缤纷美食</p>
        </div>


        <div class="col " ng-click="newclass(13,'服装鞋帽')">
          <img src="./img/newclass/yifu@3x.png" alt="">
          <p>服装鞋帽</p>
        </div>

        <div class="col " ng-click="newclass(18,'化妆美业')">
          <img src="./img/newclass/meirong@3x.png" alt="">
          <p>化妆美业</p>
        </div>
      </div>

      <div class="row rowtow">
        <div class="col col-25"    ng-click="newclass(47,'广告印刷')" >
          <img src="./img/newclass/guangaoys.jpg" alt="">
          <p>广告印刷</p>
        </div>

        <div class="col "  ng-click="newclass(27,'酒店住宿')"  >
          <img src="./img/newclass/jiudian@3x.png" alt="">
          <p>酒店住宿</p>
        </div>

        <div class="col "    ng-click="newclass(28,'健康养生')"  >
          <img src="./img/newclass/jiangkanys.jpg" alt="">
          <p>健康养生</p>
        </div>

        <div class="col " ng-click="newclass(33,'汽车用品')">
          <img src="./img/newclass/carfuwu@3x.png" alt="">
          <p>汽车用品</p>
        </div>
      </div>

      <div class="row rowtow">
        <div class="col col-25"    ng-click="newclass(37,'房产服务')" >
          <img src="./img/newclass/fanchang.jpg" alt="">
          <p>房产服务</p>
        </div>

        <div class="col "  ng-click="newclass(42,'家装建材')"  >
          <img src="./img/newclass/jiancai@3x.png" alt="">
          <p>家装建材</p>
        </div>

        <div class="col "    ng-click="newclass(48,'学习培训')"  >
          <img src="./img/newclass/ruanjian@3x.png" alt="">
          <p>学习培训</p>
        </div>

        <div class="col " ng-click="newclass(52,'家用电器')">
          <img src="./img/newclass/dianqi@3x.png" alt="">
          <p>家用电器</p>
        </div>
      </div>


      <div class="row rowtow">
        <div class="col col-25"    ng-click="newclass(57,'办公文具')" >
          <img src="./img/newclass/bangong@3x.png" alt="">
          <p>办公文具</p>
        </div>

        <div class="col "  ng-click="newclass(63,'音响数码')"  >
          <img src="./img/newclass/shuma@3x.png" alt="">
          <p>音响数码</p>
        </div>

        <div class="col "    ng-click="newclass(67,'电动代步')"  >
          <img src="./img/newclass/diandongdb.jpg" alt="">
          <p>电动代步</p>
        </div>

        <div class="col " ng-click="newclass(71,'母婴亲子')">
          <img src="./img/newclass/muying@3x.png" alt="">
          <p>母婴亲子</p>
        </div>
      </div>

      <div class="row rowtow">
        <div class="col col-25"    ng-click="newclass(72,'企业服务')" >
          <img src="./img/newclass/qiyefuwu.jpg" alt="">
          <p>企业服务</p>
        </div>

        <div class="col col-25 "  ng-click="newclass(73,'更多分类')" style="border-right: 1px solid #ddd;" >
          <img src="./img/newclass/qita@3x.png" alt="">
          <p>更多分类</p>
        </div>


      </div>


    </div>






  </ion-content>
</ion-view>

