<ion-view  hide-tabs="true"   view-title="商品详情"   >
  <ion-nav-bar   class="bar-positive ">
    <ion-nav-buttons side="left">
      <a   nav-direction="back"  href="/#/r/tab/Classif"  class="button button-icon ion-ios-arrow-left">

      </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a   nav-direction="back"  href=""  class="button button-icon ">

      </a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content  scrollbar-y="false"  style='background-color:#f3f3f3' >

    <ion-slide-box  class='homeSlidebox ClassifSlidebox' auto-play='true' >
      <ion-slide  ng-click='a1()' >
        <img src={{ClassifDetailsList.img_url}} alt="">
      </ion-slide>
      <ion-slide>
        <img src={{ClassifDetailsList.img_url}} alt="">
      </ion-slide>
      <ion-slide>
        <img src={{ClassifDetailsList.img_url}} alt="">
      </ion-slide>
    </ion-slide-box>
    <div class="classif-onedetais">
      <span class="">
{{ClassifDetailsList.goods_title}}</span>
    </div>
   <div class="classif-onemoney">
    <div style="float: left;font-size: 16px;">￥ {{ClassifDetailsList.total_in_price }}</div> <div style="float: right;padding-right: 20px;color: #444">运费：{{ClassifDetailsList.express_fee}}</div> <div style="float: right;padding-right: 20px;color: #444">库存：{{ClassifDetailsList.total_in_number}}</div>
   </div>
    <div style="height: 30px;background-color: white">
      <img src="/img/classif/shoppic.png" style="       margin-left: 10px; width: 30px;">
      <div style="    float: right;
    padding-top: 5px;
    padding-right: 9rem;">@{{ClassifDetailsList.goodsShop.shop_name}}</div>
    </div>
    <div class="row classif-oneDetais">
     <!-- <div class="col classif-rightborder" ng-class="{'Cone':isCone}" ng-click="Detailsone()">商品详情</div>
      <div class="col classif-rightborder1" ng-class="{'Ctwo':isCtwo}" ng-click="Detailstwo()">商品尺码</div>
      <div class="col classif-rightborder2" ng-class="{'Ctree':isCtree}" ng-click="Detailstree()">详情</div>-->
      <div class="circle"><div style="margin-top: 18px;
    color: white;
    font-size: 13px;">商品详情</div></div>

    </div>

    <div class="classif-detailsone" >
     xxxxxxxxxxx
    </div>


  </ion-content>

  <ion-footer-bar align-title="center" >
    <div class="col  classif-topborder2" ng-click="gouwuchemodal.show()" style="text-align: -webkit-center;
    height: 45px;
    margin-top: -5px;
    margin-left: -5px;"><div style="font-size: 15px;color: white;padding: 7px">加入购物车</div></div>
    <div class="col  classif-topborder3" ng-click="modal.show()" style="text-align: -webkit-center;
    height: 45px;
    margin-top: -5px;
    margin-right: -5px;"><div style="font-size: 15px;color: white;padding: 7px">立即购买</div></div>

  </ion-footer-bar>


  <script id="templates/modal.html" type="text/ng-template" >
    <ion-modal-view class="product-model">
      <ion-content class="padding" scroll="false">
        <div class="row">
        <div  class="col" style="width: 100px">
          <img src={{ClassifDetailsList.img_url}} alt="">

        </div>
        <div class="col">
          <span class="">
{{ClassifDetailsList.goods_title}}</span>
          <div style="color: #a2a2a2;margin-top: 1rem;"> <span>请选择购买数量</span></div>

        </div>
        </div>

      <!--  <div style="margin-top: -15px;">尺码
          <div class="row">
        <div class="col30 classif-chicun" >标准</div>

          </div>
        </div>
        <div>颜色
          <div class="row">
            <div class="col30 classif-chicun" >标准</div>

          </div>
        </div>-->
        <div>购物数量
          <button class="button button-small button-stable " style="    float: right;
    background-color: #ddd;" ng-click="addshop()"><span style="font-size: 20px">+</span></button>

              <input disabled="disabled" type="text" value={{Number}} style="float: right;width: 50px;text-align: center;border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;">

          <button class="button button-small button-stable " style="    float: right;
    background-color: #ddd;" ng-click="delshop()"><span style="font-size: 20px">-</span></button>

        </div>

          <button style="margin-top: 30px;;background-color: orange" class="button button-full button-positive" ng-click="ClassifConfirm(ClassifDetailsList.goods_basic_id,ClassifDetailsList.goodsShop.shop_id)">立即购买</button>

      </ion-content>

    </ion-modal-view>
  </script>


  <!--购物车model-->
  <script id="templates/gouwuchemodal.html" type="text/ng-template" >
    <ion-modal-view class="product-model">
      <ion-content class="padding" scroll="false">
        <div class="row">
          <div  class="col" style="width: 100px">
            <img src={{ClassifDetailsList.img_url}} alt="">

          </div>
          <div class="col">
          <span class="">
{{ClassifDetailsList.goods_title}}</span>
            <div style="color: #a2a2a2;margin-top: 1rem;"> <span>请选择购买数量</span></div>

          </div>
        </div>

        <!--  <div style="margin-top: -15px;">尺码
            <div class="row">
          <div class="col30 classif-chicun" >标准</div>

            </div>
          </div>
          <div>颜色
            <div class="row">
              <div class="col30 classif-chicun" >标准</div>

            </div>
          </div>-->
        <div>购物数量
          <button class="button button-small button-stable " style="    float: right;
    background-color: #ddd;" ng-click="addshop()"><span style="font-size: 20px">+</span></button>

          <input disabled="disabled" type="text" value={{Number}} style="float: right;width: 50px;text-align: center;border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;">

          <button class="button button-small button-stable " style="    float: right;
    background-color: #ddd;" ng-click="delshop()"><span style="font-size: 20px">-</span></button>

        </div>

        <button style="margin-top: 30px;;background-color: green" class="button button-full button-positive" ng-click="addcart()">加入购物车</button>

      </ion-content>

    </ion-modal-view>
  </script>


</ion-view>


