<ion-view style='background:#feeb0b'  view-title="充值"     >


 <ion-nav-buttons    side="left"         class="button back-button buttons button-clear header-item">
    <div    ng-if='showtitle'  class="button back-button buttons button-clear header-item"   ng-click="backtoprevView('r.Inputamount')">
      <i class="icon ion-ios-arrow-left" style="float:left;margin-right:5px;"></i>
      <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"><span class="default-title hide" style='display:none' >Back</span><span class="previous-title">{{parenttitle}}</span></span>
    </div>
  </ion-nav-buttons>
  
  <ion-content          overflow-scroll="false"   scrollbar-y="false"     style="background: #f5f5f5;overflow:hidden; overflow-y:visible;"       >
  <p  style="font-size: 14px;height: 40px;line-height: 40px;text-indent: 10px;color: dimgrey;"  >充值积分</p>
  <div class="inpumonny"  style="    position: relative;" >
   <p style="margin: 0px;
    position: absolute;
    width: 92%;
    left: 3.5%;
    background: #bfbfbf;
    height: 1px;
    top: 60px;"></p>
    <div  style="    float: left;
    width: 10%;
    text-align: center;
    display: inline-block;
    height: 40px;
    line-height: 80px;
    font-size: 30px;
    font-weight: normal;
    color: #464646;" >￥</div>
    
    <input  ng-disabled="noint"  ng-blur="quzheng()"   type="number"
        ng-model="palu.money"
          placeholder="0.00"
          style="        -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 220px;
    -moz-box-flex: 1;
    -moz-flex: 1 220px;
    -ms-flex: 1 220px;
    flex: 1 220px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding-right: 24px;
    background-color: transparent;
    float: left;
    width: 86%;
    padding: 0px;
    margin: 0px;
    height: 80px;
     line-height: 80px;
    font-size: 30px;
    "
      >
    </div>


    <button  ng-click="pay()"  class="button button-block " style="    
                                          letter-spacing: 3px;
                                          background: #feeb0b;
                                          width: 90%;
                                          margin-left: 5%;
                                          margin-top: 160px;
                                          color: #6b3801;
            "
    >
      确认金额
    </button>





  </ion-content>
</ion-view>



