<ion-view style='background:#feeb0b'  >



  <ion-nav-buttons    side="left"         class="button back-button buttons button-clear header-item">
    <div    ng-if='showtitle'  class="button back-button buttons button-clear header-item"   ng-click="backtoprevView('r.Shophome')">
      <i class="icon ion-ios-arrow-left" style="float:left;margin-right:5px;"></i>
      <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"><span class="default-title hide" style='display:none' >Back</span><span class="previous-title">{{parenttitle}}</span></span>
    </div>
  </ion-nav-buttons>
  

  
   <ion-nav-title>
    {{title}}
  </ion-nav-title>

  <ion-content           overflow-scroll="false"   scrollbar-y="false"     style="background: #f5f5f5;overflow:hidden; overflow-y:visible;"       >



      <div class="shopheader">
        <img ng-src="{{shop_info.img_header}}" alt=""  >
        <div class="shopbasinfobox">
            <div class="imgbox">
                <img ng-src="{{shop_info.img_shop}}" alt="">
            </div>
            <h5 style="overflow: hidden;text-overflow: ellipsis;">{{shop_info.shop_name}}</h5>
            <p >{{shop_info.description}}</p>
        </div>
      </div>

      <div class="shopclaslist" style="white-space: nowrap;overflow: hidden;">
        
            <div draggable  style="display: inline-block;" >
                <div class="listitme"     ng-repeat="ss in shopclasslist"  ng-click="swatchclass(ss)"  ng-class="{'active':ss.select}">
                  {{ss.cate_name}}
                </div>
              </div>
      </div>      



    <ion-scroll   delegate-handle="goodslistshop"   lazy-scroll   ng-style='goodslisthe'      overflow-scroll="false"   scrollbar-y="false"     >

          <div class="shopgoodslit"  ng-repeat="ff in goodlistdata"   ng-click="gogoodsdetial(ff)"  >
            <img image-lazy-src="{{ff.img_url}}" alt="" image-lazy-distance-from-bottom-to-load="100" >
            <p style="height:40px;padding:0px 4px;">{{ff.goods_title}}</p>
            <p><span>￥{{ff.activity_price}}</span>  <del>{{'￥'+ff.activity_price}}</del></p>

            </div>





          <ion-infinite-scroll ng-if="loadermoer"      style="height: 40px;line-height: 40px;margin-bottom:10px;text-align: center"   spinner="dots"      on-infinite="customcucdownlisloadMore()" distance="1%" ></ion-infinite-scroll>
          <p ng-if="!loadermoer" style="height: 40px;line-height: 40px;margin-bottom:10px;text-align: center;color:#999" >没有更多了!</p>
              
    </ion-scroll>







      
  </ion-content>


</ion-view>
