<ion-view view-title="{{title}}"  style='background:#feeb0b'  >



  <ion-nav-buttons side="right"    class="button back-button buttons button-clear header-item">
    <div class="button back-button buttons button-clear header-item"   ng-click="save()"    >
      <span class="previous-title"      >{{state}}</span></span>
    </div>


  </ion-nav-buttons>

      <ion-content   style="background: #f7f7f7 !important;"   class='shopcrtboxbj' overflow-scroll="false"  scrollbar-y="false"   >


        <div class="list" style="overflow: visible;z-index: 999;padding:0px;">
          <label class="item item-input" style="border: none" >
            <span class="input-label">名称 <span style="color: red">*</span>   </span>
            <input type="text"  style="background:transparent"    maxlength="150"  ng-model="goods.title"  placeholder="商品名称" >
          </label>

          <div class="item item-input"   >
                <span     class="input-label">条码 <span style="color: red">*</span>   <span style="color: #fff"> *</span>
                </span>

                <i    ng-click="Barcode()"     class="extends" style="
                margin-left: 4px;
                color: #616161;
                font-size: 25px;
                position: absolute;
                right: 0px;
                background: #fff;
                display: inline-block;
                height: 100%;
                line-height: 44px;
                padding-right: 20px;
                padding-left: 16px;
                top: 0px;
                border-left: 1px solid #ddd;
                ">&#xe62e;</i>
            <input type="text"   ng-model="goods.barcode"
            style="padding-right:40px;"
             placeholder="条码">
          </div>



          <!--<div class="item" style="padding: 8px 10px;overflow: visible; " ng-model="airplaneMode"   ng-if="!edith_isfictitious"  >
                    <span style="display: inline-block;height: 40px;line-height: 40px;">
                    是否属于虚拟产品!
                    </span>
            <label   style="float: right;position: relative;top: 4px;" class="toggle disable-user-behavior">
              <input type="checkbox" ng-model="goods.is_virtual"     ng-disabled='goods.edit'   class="ng-untouched ng-valid ng-dirty ng-valid-parse" value="on" style=""><div class="track"><div class="handle"></div></div></label>
          </div>-->

        </div>


        <div class="list">
          <div class="item item-input item-two-seletc">
            <span class="input-label">商城分类  </span>

            <select   style='    padding-left: 0px;
                                 background: transparent;
                                 border: none;
                                 max-width: 100px;
                                 white-space: nowrap;
                                 margin-left:-4px;
    '  ng-options="x.cate_id as  x.itemcats_name  for x in  goods.systemClass"   style="padding-left:0px;"   ng-model="goods.systemSelect"   ng-change='systemparnslec()'   >
            </select>

            <select    ng-if='goods.systemchidSelct'   style='    padding-left: 0px;
                                 background: transparent;
                                 border: none;
                                 max-width: 100px;
                                    white-space: nowrap;
                                     margin-left:-4px;
        '  ng-options="x.cate_id as  x.itemcats_name  for x in  goods.systemchidlist"   style="padding-left:0px;"   ng-model="goods.systemchidSelct"    ng-change='chidselect()' >
            </select>
          </div>

          <div class="item item-input" style="border-top:1px solid #ddd;background:#fff !important"  ng-click='goodclass.show()'
           >

            <span class="input-label">店铺分类</span>
            <input style="background:#fff"    ng-model="goods.cateSelctItem"    type="text" value="设置商铺所属分类"   readonly    >
          </div>




          <div class="item item-input"   ng-show="!hassku"   >
            <span class="input-label">市场价 <span style="color: red">*</span></span>
            <input type="text" placeholder="￥0.00"  ng-blur="matthisvalu(goods)"   ng-model="goods.Market_price" >
          </div>

          <div class="item item-input"   ng-show="!hassku"      >
            <span class="input-label">平台价 <span style="color: red">*</span></span>
            <input type="text" placeholder="￥0.00"    ng-blur="matthisvaluplaform(goods)" ng-model="goods.Platform_price" >
          </div>
          </div>
          
                <ion-list >
                    <h5     ng-show="!goods.edit"  style="background: #fff;text-indent:20px;margin: 0;padding: 10px 4px;font-weight: normal;font-size:15px;border-top: 1px solid #DDD">添加商品规格:</h5>
                    <div class="item   lastitemnoborer"   ng-repeat="fff  in attrsprices"    >
                        <div class="item-attrs-good" >
                            <section class="attrname">
                                <span ng-repeat="subke in   fff.sku"  >{{subke.prop_name+':'+subke.prop_value}}&nbsp;</span>
                            </section>

                            <del class="delattritm"  ng-click="delattritem(attrsprices,fff.index)"  >
                                  <i class="ion-android-remove-circle"   ></i>
                            </del>
                            <ul class="attrlist"    >

                                <li> <span>市场价<i style="color: red"> &nbsp;</i></span> <input type="text"  ng-model="fff.msg.retail_price"   ng-change="bilfthivla(fff)"   ng-blur="bilfthivlabr(fff)"      placeholder="￥0.00" >  </li>
                                <li> <span>平台价<i style="color:red"> &nbsp;</i></span> <input type="text"   ng-model="fff.msg.activity_price"   ng-change="bilfthivlapre(fff)"   ng-blur="bilfthivlabrpre(fff)"      placeholder="￥0.00" >  </li>
                                <li> <span>库存<i style="color:red"> &nbsp;</i></span> <input type="text"     ng-model="fff.msg.number"     ng-change="bilfthivlanumber(fff)"   ng-blur="bilfthivlanumberbr(fff)"     placeholder="库存数" >  </li>


                            </ul>
                        </div>
                    </div>




                </ion-list>

                <div class="list " ng-show="!goods.edit" style="">

                        <div class="item" style="border-top: 1px solid #ddd;padding-top: 4px;padding-bottom:4px;"  >

                            <div    ng-show="!goods.edit"   ng-click="openattslist();"  style="position: relative;;float:left;color: #666;display:inline-block;width:50%;height: 30px;line-height: 30px;text-align: center">
                              <span   style="clear: both;position:absolute;left: 50%;margin-left: -25%;" >
                                      <i class="ion-plus" style="float:left;font-size: 21px;position: relative;top:0px;left: -6px;"></i>
                                      <span  style="float:left" > 添加规格</span>
                               </span>
                            </div>

                            <div  ng-click="openlistset()"  style="position: relative;;color:#666;display:inline-block;width:50%;height: 30px;line-height: 30px;text-align: center">
                              <span   style="clear: both;position:absolute;left: 50%;margin-left: -25%;" >
                                <i class="ion-link" style="float:left;font-size: 26px;position: relative;top: 1px;left: -5px;"></i>
                                <span  style="float:left" >批量设置</span>
                                </span>
                            </div>

                        </div>




                </div>




        <div class="list">
          <div class="item item-input"   ng-show="!hassku"     >
            <span class="input-label">库存 </span>
            <input type="number"  placeholder="库存数"  ng-blur="matthisvalstok(goods)"    ng-model="goods.Stock_number" >
          </div>
          <div class="item item-input"   >
            <span class="input-label">运费 </span>
            <input type="number" placeholder="运费价格"   ng-blur="matthisvalfrprice(goods)"     ng-model="goods.freight_price" >
          </div>

        </div>


        <p style="
            margin: 0;
            height: 30px;
            line-height: 30px;
            text-indent: 10px;
            color: #464545;
        " >配送方式  </p>

        <div class="list">

               <ion-toggle ng-model="goods.post"  ng-disabled="true"  >快递物流</ion-toggle>
               <ion-toggle ng-model="goods.Since" >门店自提</ion-toggle>
                <div class="item canshoumi"   ng-click="opensincesetiing()"    ng-class="{'show':goods.Since}"     >
                      自提点设置
                      <i class="ion-ios-settings-strong"  style="    font-size: 25px;position: absolute;right: 22px;color: #797979;top: 14px;
                      " ></i>
                </div>


        </div>










        <style>
          .pushgoodphost{
            width: 90px;height: 90px;
            margin: 3px 5px !important;
            float: left;position: relative;
            padding: 2px ;
            background: #fff;
            text-align: center;
            max-width: 100% !important;
            font-size: 60px;
            color: #636363;
          }
          .pushgoodphost .shoping, .pushgoodphost  .kinlh{
            display:none;
          }

          .pushgoodphost.fengmian  .shoping{
            display: block;
            position: absolute;
            z-index: 2;
            top: 17px;
            color: rgb(254, 143, 37);
            font-size: 50px;
            left: 2px;
            height: 40px;
            width: 30px;
          }

          .pushgoodphost.fengmian  .kinlh {
                  display: inline-block;
                  width: 34px;
                  height: 13px;
                  background: #fff;
                  top: 11px;
                  left: 10px;
                  position: absolute;
                  left: 3px;
                  transform: rotateZ(-45deg);
                  -webkit-transform: rotateZ(-45deg);
          }

          .pushgoodphost .ion-close-circled{
            position: absolute;
            font-size: 24px;
            top:0px;
            display: inherit;
            line-height: 0;
            right: 0px;
            background: white;
            height: 12px;
            width: 12px;
          }

          .pushgoodphost .ion-close-circled::before{
            margin: -5px;
            margin-top: -8px;
          }
        </style>


        <div style="background: #fff;padding-bottom: 10px;">

        <div class="goodsphotitme" style="padding: 4px  5px;margin-bottom: 10px;">

                    <div  ng-repeat="(key,linh)  in goodspice " class="pushgoodphost"  ng-click="chkefengmian(linh)"  ng-class="{'fengmian':linh.fengmian}" >
                      <img ng-src="{{linh.img}}" alt="" style="width: 90px;height: 90px" >
                      <i  ng-click="delimg(goodspice,key)"  class="ion-close-circled"></i>
                      <i class="shoping">&#xe628;</i>
                      <span class="kinlh"> </span>

                    </div>



                    <div  ng-click="selectpirce()" class="pushgoodphost">
                      <i     class="ion-camera" style="    position: relative;top: 10px;"></i>
                    </div>
                    <span style="display:block;clear:both"></span>
                  </div>

                  <p style="width: 90%;margin: 0 auto;background:#E3E3E3;padding:6px;">
                    上传图片 大小不能超过2M,单个商品最多可添加5张图片
                    点击图片设置为封面图片
                  </p>
                  </div>

        </div>




        <div class="list">
        <div class="item">
          <textarea name="" ng-model="goods.goodsDesc"  maxlenght='300'  cols="30" rows="10"  style="min-height:70px;width:100%" placeholder="商品描述详情..." ></textarea>
        </div>
        </div>











        <script id="goodclass.html" type="text/ng-template">
          <div class="modal">

            <ion-header-bar  class="bar-positive item-input-inset  lb-main-title-search" >
              <button  style="padding: 0px;" class="button button-icon "  >
                选择店铺分类
              </button>
              <h5 class="title"></h5>
              <button class="button button-icon ion-android-close"  ng-click="goodclass.hide()" >
              </button>
            </ion-header-bar>
            <ion-content  overflow-scroll="false"  scrollbar-y="false"   class='shopcrtboxbj' >

            <div class="list">
              <div class="item item-input" >
                <input type="text"  placeholder="分类名称"  ng-model="newclass.name"   style='padding-right:110px' maxlength='10'  >

                <i class="ion-android-add"
                ng-click="addnewclass()"
                  style="
                  position: absolute;
                  height: 100%;
                  display: inline-block;
                  padding: 0px 10px;
                  right: 0px;
                  top: 0px;
                  width: 50px;
                  text-align: center;
                  font-size: 25px;
                  border-left: 1px solid #bfbfbf;
                  line-height: 45px;

                  color:#6b3801
                  "
                ></i>
              </div>


<style>
.slectline.selectin  i{
  color: #fe7e0b;
}
.slectline{
  line-height: 30px;
}
       .selctgoodcediric{
        font-size: 30px;
          float: left;
        margin-right: 10px;
        color: #bbbbbb;
        }

          .sleilist  .item-content{
            padding-top:10px;padding-bottom:10px;
          }

</style>

            </div>

                          <ion-list
                                show-reorder="showdetail"
                                can-swipe="true"
                                >
                        <ion-item ng-repeat="item in goods.catelist"     ng-click='chengselect(item)'   class='sleilist'   >

                      <p ng-class="{'selectin':item.select}"   class="slectline"    >  <i class="selctgoodcediric  "


                          ng-class="{'ion-ios-circle-outline':!item.select,'ion-ios-checkmark':item.select}"
                        ></i>

                        {{item.cate_name}}</p>

                        <ion-reorder-button class="ion-android-delete"  style="color:#fb6231"
                               on-reorder="reorderItem(item, $fromIndex, $toIndex)">
                        </ion-reorder-button>


                        </ion-item>
                      </ion-list>



            </ion-content>

          </div>
        </script>










 <script id="sku.html" type="text/ng-template">
          <div class="modal">
                      <ion-header-bar  class="bar-positive item-input-inset  lb-main-title-search" >
                        <button  style="padding: 0px;" class="button button-icon "  >
                          规格属性
                        </button>
                        <h5 class="title"></h5>
                        <button class="button button-icon"  ng-click="savesku()" >
                          完成
                        </button>


                      </ion-header-bar>
          <div class="sliderbox-right  " ng-class="{'active':showchildnode,'isios':plfisios}"    >

                <p style=" margin: 0px;height: 30px;line-height: 30px;text-indent: 10px;color: #4e4e4e;background: #fff;border-bottom: 1px solid #ddd;">选 择 属 性  </p>

                  <div class="list"  style="margin-bottom:1px;" >
                      <div class="itme" style="border-bottom: 1px solid #ddd;">
                          <input   ng-model="sublistaddnew.prop_value" style="
                              margin: 0px;
              display: inline-block;
              width: 70%;
              height: 45px;
              line-height: 45px;
                          " type="text" placeholder="请输入需要添加的属性名" >
                          <button   ng-click="appenattributobj()"   style="
                              border-radius: 0px;
                              color: #6f3d01;
                              background:rgb(254, 235, 11);
                              margin: 0;
                              width: 28%;
                              margin-top: -1px;
                          " class="button">添加</button>
                      </div>

                  </div>

                  <ion-scroll ng-style="{{scoptopheihgt}}"   delegate-handle="childlistsku"     overflow-scroll="false"  scrollbar-y="false"   >
                  <div class="list">
                      <ion-checkbox    ng-repeat="li  in subattrslist "   ng-click="sublistchekselect(subattrslist,li)"  ng-model="li.select"  style="border: none"  >
                          {{li.prop_value}}
                      </ion-checkbox>
                  </div>
        </ion-scroll>
    </div>

  <ion-content  on-swipe-right="canlshowright()"     overflow-scroll="false"  scrollbar-y="false"   class='shopcrtboxbj' >


            <style>
                  .skuitemthi.select {background:#e6e6e6;}
                  .skuitemthi {
                    padding-left: 10px;
                    transition: all 200ms;
                    -webkit-transition: all 200ms;
                  }
                  .skuitemthi.active{
                    padding-left: 44px;
                  }
                  .chek{
                    position: absolute;font-size: 30px;top: 50%;margin-top: -16px;left: 10px;color: #bfbfbf;
                    transition: all 200ms;
                    -webkit-transition: all 200ms;
                    opacity: 0;
                    }
                    .chek.active{
                          opacity: 1;
                      }
              </style>

              <div class="list" style="margin:0px ;"  ng-click="addnewskukey()"  >
                    <div class="item"  style="padding-top: 10px;padding-bottom: 10px;" >添加新规格属性</div>
              </div>
              <p style="margin:0px;height:30px;line-height:30px;    text-indent: 10px;color: #4e4e4e;">选择规格</p>

                          <ion-list>

                            <ion-item ng-repeat="item in goods.skuSpe"   ng-show='{{      goods.edit?item.select?true:false :true     }}'   ng-click="showmichild(item)"   ng-class="{'select':item.chekd,'active':item.select}"
                            class="icon-left  skuitemthi"  >
                                    <i  class="chek ion-ios-checkmark"  style="color:#fe7e0b"  ng-class="{'active':item.select}"     style=""></i>
                                    <p>{{item.prop_name}}</p>

                            </ion-item>



                        </ion-list>






            </ion-content>

          </div>
        </script>




































 <script id="Since.html" type="text/ng-template">
          <div class="modal">
                      <ion-header-bar  class="bar-positive item-input-inset  lb-main-title-search" >
                        <button  style="padding: 0px;" class="button button-icon " ng-click="setmendianmsg()"  >
                          自提列表
                        </button>
                        <h5 class="title"></h5>
                        <button class="button button-icon ion-android-close"  ng-click="Since.hide()" >
                        </button>
                      </ion-header-bar>
                      <ion-content   overflow-scroll="false"  scrollbar-y="false" style='background:#f7f7f7'    >

                    

                    <p ng-show="!Sincesome.length"
                     style="    text-indent: 10px;color: #777777;" 
                     >还没有自提点</p>

<!--                     
                        <p ng-show="Sincesome.length"
                     style="    text-indent: 10px;color: #777777;" 
                     >侧滑删除</p> -->


<!--
                    <ion-list   
                    >
                      <ion-item  ng-repeat="aa  in  Sincesome"                               >
                        <h5>{{aa.name}}   <span style="float:right;"   >{{aa.link}}</span> </h5>
                        <p>{{aa.address}}</p>
                        <ion-option-button class="button-assertive"
                                          ng-click="edit(item)">
                          删除
                        </ion-option-button>

                        <ion-delete-button class="ion-minus-circled"  >
                          dsa
                        </ion-delete-button>


                      </ion-item>
                    </ion-list>-->

                      <style>
                        .bildthisitmeicon    .ion-ios-checkmark  {
                            color:#fe7e0b !important
                        }
                        .bildthisitmeicon   .item-content {
                              padding-right: 62px  !important;   
                        }
                      </style>


                    <ion-list   class="bildthisitmeicon"     
                                show-delete="true"
                                show-reorder="shouldShowReorder"
                                  >
                                  
                        <ion-item 

                        ng-repeat="aa  in  Sincesome"   ng-click="xuanzheopition(aa)"    >
                            <div >
                            <p  style="    color: #3a3a3a;">{{aa.name}}   <span style="float:right;"   >{{aa.link}}</span> </p>
                            <p>{{aa.address}}</p>
                            </div>
                            <ion-delete-button  ng-click="selectthi(aa)"  ng-class="{'ion-ios-circle-outline':!aa.select,'ion-ios-checkmark':aa.select}"    class="ion-ios-circle-outline"  style="color:#989898"   >
                            </ion-delete-button>
                          <ion-reorder-button class="ion-trash-b"     >
                          </ion-reorder-button>
                        </ion-item>
                      </ion-list>

                          <button ng-click="xuanzheopition()"
                           style="width: 80%;
                                  margin-left: 10%;
                                  padding: 0px;
                                  height: 42px;
                                  line-height: 42px;
                                  background: #f3e009;
                                  border: none;
                                  margin-top: 10px;
                                  border-radius: 5px;
                                  color: #6b3801;
                                  letter-spacing: 1px;
                                  margin-bottom:20px;
                                  font-size:15px;
                                "                   
                            >
                            添加自提点
                          </button>

              </ion-content>
          </div>
 </script>






 <script id="map.html" type="text/ng-template">
          <div class="modal">
                      <ion-header-bar  class="bar-positive item-input-inset  lb-main-title-search" >
                        <button  style="padding: 0px;" class="button button-icon "  ng-click="map.hide()"  >
                          取消
                        </button>
                        <h5 class="title"></h5>
                        <button class="button button-icon"  ng-click="savePintthi()" >
                          完成
                        </button>
                      </ion-header-bar>
                  <ion-content  scroll="false"   >


                        <div  style="height:100%;"  id="container"></div> 

            </ion-content>

  <ion-footer-bar class="bar-energized "   >

          <!--<div class="buttons" ng-click="setmendianmsg()"   style="font-size:15px;line-height: 34px;color: #794901;"  > 
          </div>-->

          <h1 class="title" ng-click="setmendianmsg()"  style="font-size: 15px;font-weight: normal;color: #794901;letter-spacing: 1px;"  > 设置门店信息</h1>

        </ion-footer-bar>




    <!--//set模块-->
    <div class="action-sheet-backdrop cutom-sheet"   ng-click="closetallcationvalue()"   id='setmapid'   style="overflow: visible;
    "  ng-class="{'active':setallcationstate}" >

        <div class="action-sheet-wrapper    setmapintking   "   ng-class="{'action-sheet-up':setallcationstate}" style="overflow: visible;
            top:0px;
            transform: translate3d(0,-100%,0);
            -webkit-transform: translate3d(0,-100%,0);
        "   >
            <div class="action-sheet"  " style="width: 100%;margin: 0px;border-radius: 0px;overflow:visible">
                <div class="action-sheet-group action-sheet-options   Custom-menu" 
                ng-click="stopporp($event)"
                style="background: #fff;overflow: visible;margin: 0px;border-radius: 0px;"  >
                    <div style="width:94%;margin-left:3%;position:relative">

                          <p style="height:20px;"></p>
                          <div class="list">

                            <label class="item item-input"><input type="text" ng-model="mapTagging.title"   placeholder="自提点名称"></label>
                            <label class="item item-input"><input type="text"   ng-model="mapTagging.tel"    placeholder="联系方式"></label>
                            <label class="item item-input"><input type="text" ng-model="mapTagging.business"   placeholder="自提时间"></label>
                            </div>

                            <button    ng-click="comfpintbasemsg()"
                             style="
                                margin-top:10px;
                                margin-bottom:10px;
                                width: 100%;
                                border: none;
                                color: rgb(255, 255, 255);
                                font-size: 16px;
                                font-weight: 400;
                                height: 42px;
                                border-radius: 0px;
                                background: rgb(255, 159, 4);
                             " > 确 认 </button>

                    </div>
                             
                </div>
            </div>
        </div>
    </div>



        </script>




      

      </ion-content>
</ion-view>
