<ion-view view-title="商品列表"  style='background:#feeb0b'  >

      <ion-nav-buttons side="left"    class="button back-button buttons button-clear header-item">
        <div class="button back-button buttons button-clear header-item"   ng-click="backtoprevView('r.listofgoods')">
        <i class="icon ion-ios-arrow-left" style="float:left;margin-right:5px;"></i>
          <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"><span class="default-title hide" style='display:none' >Back</span><span class="previous-title">{{parenttitle}}</span></span>
          </div>
      </ion-nav-buttons>

  <ion-nav-buttons side="right"    class="button back-button buttons button-clear header-item">
    <div class="button back-button buttons button-clear header-item">
      <i class="icon ion-ios-search-strong" style="float:left;margin-right:5px;"></i>
    </div>
  </ion-nav-buttons>


      <ion-content     style="background: #fff;overflow:hidden; overflow-y:visible;"     on-swipe-right="backtoprevView('r.login')"   >

        dsa
        dsadsad
        dsa
        dsa
        d
        sad
        a




    </ion-content>


</ion-view>
