<ion-view  view-title="消息" >


  <ion-content style="background: #f2f2f2;" overflow-scroll="false"   scrollbar-y="false"  >

    <div class="shopcartnologin" ng-show="isShow">
      <img src="./img/classif/icon_gouwuchebj@3x.png" alt="" style="width: 25%">
      <div style="font-size: 25px;">没有消息</div>
      <div style="margin-top: 15px;
    font-size: 15px;
    color: #444;">您还没有登录，请登录后查看消息</div>
      <button class="gotologin"    ng-click="login('r.login')" style="margin-top: 15px">立即登录</button>
    </div>

    <ion-list  class="msg-list" ng-show="!isShow" >
      <ion-item class="item-remove-animate item-avatar item-icon-right"    >
        <img style="border-radius: 0px;" src="./img/msg/wuliu.jpg" >
        <h2>交易物流消息</h2>
        <p class="subborder">&nbsp; </p>

        <span    ng-show="notice.Tradelogistics"  style="       position: absolute;
    top: 10px;
    right: 16px;
    background: #ef473a;
    color: #fff;
    display: inline-block;
    padding: 0px 6px;
    border-radius: 10px;
    line-height: 1.6;
    font-size: 12px;
        " >{{notice.Tradelogistics}}</span>
      </ion-item>
      
      <ion-item class="item-remove-animate item-avatar item-icon-right"    >
        <img  style="border-radius: 0px;" src="./img/msg/liwu.jpg" >
        <h2>系统消息</h2>
        <p class="subborder">&nbsp;</p>

             <span    ng-show="notice.Systemmessage"  style="  
                 position: absolute;
                 top: 10px;
                 right: 16px;
                 background: #ef473a;
                 color: #fff;
                 display: inline-block;
                 padding: 0px 6px;
                 border-radius: 10px;
                 line-height: 1.6;
                 font-size: 12px;
        " >{{notice.Systemmessage}}</span>


      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right"  ng-click="application()"  ng-if="expression" >
        <img  style="border-radius: 0px;" src="./img/classif/icon_shengqingjilv@3x.png" >
        <h2 >员工申请审核</h2>

        <div ng-if="mathData" style="    width: 20px;
          height: 20px;
          background: #ef473a;
          border-radius: 50px;
          float: right;margin-top: -20px;"><div style="text-align: -webkit-center;color: white;font-size: 10px;">{{newsList}}</div></div>

      </ion-item>

    </ion-list>



  </ion-content>
</ion-view>
