<ion-view view-title="消息" >


  <ion-content style="background: #f2f2f2;" overflow-scroll="false"   scrollbar-y="false"  >


    <ion-list  class="msg-list">
      <ion-item class="item-remove-animate item-avatar item-icon-right"    >
        <img style="border-radius: 0px;" src="./img/msg/wuliu.jpg" >
        <h2>交易物流消息</h2>
        <p class="subborder">222</p>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right"    >
        <img  style="border-radius: 0px;" src="./img/msg/liwu.jpg" >
        <h2>易物活动</h2>
        <p class="subborder">222</p>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right"    >
        <img  style="border-radius: 0px;" src="./img/msg/liwu.jpg" >
        <h2>员工申请审核<p style="    float: right;">2016/07/08</p></h2>
        <div style="    width: 20px;
    height: 20px;
    background: #ef473a;
    border-radius: 50px;
    float: right;"><div style="text-align: -webkit-center;color: white">7</div></div>

      </ion-item>

    </ion-list>



  </ion-content>
</ion-view>
